{% extends 'main.html' %} {% block content %} {% load static %}{% load socialaccount %}
{% providers_media_js %}
<main>
  <form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    <div class="login-form">
      <div class="login-content">
        <h1>로그인</h1>
        <div>
          <span>아이디: </span>
          {{ form.username }}
        </div>
        <div>
          <span>비밀번호: </span>
          {{ form.password }}
        </div>
        <div class="login-button-container">
          <button>로그인</button>
        </div>
        <div class="signin-button-container">
            <button>회원가입</button>
          </div>
        <div class="social-login">
          <hr />
          <h3>OR</h3>
          <div class="link-container">
            {% load socialaccount %}
            <div>
              <img src="" class="logo" />
              <a href="{% provider_login_url 'google' %}">Google login</a>
            </div>
            <div>
              <img src="" class="logo" />
              <a href="{% provider_login_url 'naver' %}">Naver login</a>
            </div>
            <div>
              <img src="" class="logo" />
              <a href="{% provider_login_url 'kakao' %}">Kakao login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>
{% endblock content %}
