{% extends 'users/main.html' %} {% block content %} {% load static %}
<main>
	<form enctype="multipart/form-data" method="post">
		{% csrf_token %}
		<div class="password-reset-form">
			<div class="password-reset__title">비밀번호 재설정하기</div>
			<div class="password-reset__hr"></div>
			{% for field in form %}
				<div>{{ field.label }} {{ field }}</div>
				{% if field.errors %}
				<div>{{ field.errors }}</div>
				{% endif %}
			{% endfor %}
			<div class="password-reset__btn-box">
				<button class="password-reset__btn">재설정하기</button>
			</div>
			<div class="password-reset__hr"></div>
		</div>
	</form>
</main>
{% endblock content %}