{% extends 'users/main.html' %} {% block content %} {% load static %}
<main>
  <form method="post">
    <div class="password-reset-form">
      <div class="password-reset__title">비밀번호 찾기</div>
      <div class="password-reset__hr"></div>
      <div class="password-reset__subtitle">이메일을 입력해주세요</div>
      <div class="password-reset__info">
        {% csrf_token %}
        {% for field in form %}
          <div>
            {{ field.label }}
            {{ field }}
          </div>
        {% endfor %}

        {% for field in form %}
          {% if field.errors %}
            <div>
              <strong>{{ field.errors }}</strong>
            </div>
          {% endif %}
        {% endfor %}
        <div class="password-reset__btn-box">
          <button type="submit" class="password-reset__btn">찾기</button>
        </div>
      </div>
      <div class="password-reset__hr"></div>
    </div>
  </form>
</main>
{% endblock content %}