{% extends 'main.html' %} {% block content %}
 <main>
    <h1>인셍네컷 프레임공유 디테일</h1>
    <p>{{ frameinfo.frametitle }}</p>
    <p>
        <form action="{% url 'framesharings:framedetail' frameinfo.id%}">
        {% if frameinfo in save %}
        <button name="save" value="{{frameinfo.id}}">찜완료</button>
        {% else %}
        <button name="save" value="{{frameinfo.id}}">찜하기</button>
        {% endif %}
        </form>
    </p>
    <p>
        <form action="{% url 'framesharings:framedetail' frameinfo.id%}">
        {% if frameinfo in like %}
        <button name="like" value="{{frameinfo.id}}">추천완료</button>
        {% else %}
        <button name="like" value="{{frameinfo.id}}">추천하기</button>
        {% endif %}
        </form>
    </p>
    <p> 
        {% for keyword in frameinfo.framekeyword.all %}
        #{{keyword.name}}
        {% endfor%}
    </p>
    <p> 추천수 {{frameinfo.framelikeuser.count}}</p>
    <p>
        사진
        {% if frameinfo.framephoto %}
        <img src="{{ frameinfo.framephoto.url }}" alt="">
        {% else %}
        <div>사진이없습니다.</div>
        {% endif %}
    </p>
    <p>
        예시사진
        {% if frameinfo.frameexample %}
        <img src="{{ frameinfo.frameexample.url }}" alt="">
        {% else %}
        <div>예시사진이없습니다.</div>
        {% endif %}
    </p>
    <p>{{ frameinfo.framememo }}</p>

    

 </main>
 <div>
    업데이트 : <a href="/frameupdate/{{frameinfo.id}}">update</a>
    <form action="/framedelete/{{frameinfo.id}}" method="post">
        {% csrf_token %}
        <button>삭제</button>
      </form>
</div>
{% endblock content %}