{% extends 'users/main.html' %} {% block content %}{% load static %}
<main>
  <div class="morepage--container">
    <div class="morepage--header">
      <a href="{% url 'limitedframes:limited' %}" class="goto--home">
        <i class="fa-solid fa-angle-left"></i>
      </a>
      <div class="morepage--title">포토시그니처</div>
    </div>
    <div class="morepage--line"></div>
    <div class="detail--photo--grid">
      {% for signatureinfo in signatureinfo %}
      <div class="per--signature--detail">
        <a href="{{ signatureinfo.signatureurl }}">
          <img src="{% static '' %}{{signatureinfo.signaturephotourl}}" alt="">
          <div class="limited--detail--text">@photosignature_official</div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock content %}