
{% extends 'users/main.html' %} {% block content %} {% load static %}
<main>
  <div class="morepage--container">
    <div class="morepage--header">
      <div class="morepage--title">인생네컷</div>
      <a href="{% url 'limitedframes:limited' %}" class="goto--home">
        <i class="fa-solid fa-house"></i>
      </a>
    </div>
    <div class="line"></div>

    <div class="lifedetail--grid--section">
      {% for lifeframeinfo in lifeframeinfo %}
      <div class="per--lifedetail">
        <a href="{% url 'limitedframes:limitedlifedetail' lifeframeinfo.id %}">
          <img src="{{ lifeframeinfo.lifephotourl }}">
          <div class="limited--detail--text">{{lifeframeinfo.lifecontext}}</div>
        </a>
        
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock content %}