* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  line-height: normal;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

img,
button {
  cursor: pointer;
}

main {
  padding-top: 8rem;
}