* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: var(--main);
  /* 1rem = 10px */
}

body {
  line-height: normal;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
  transition: 0.2s;
}

.overlay {
  position: relative;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0.1;
}

button {
  cursor: pointer;
}

html, body {
  height: 100%;
}

.navbar-background {
  background: var(--main);
}

.navbar-background-list {
  background: var(--main);
  transition: 0.2s;
}

@media screen and (max-width: 475px) {
  .nav-padding {
    height: 6rem;
  }

  .nav-nopadding {
    transform:translate(0, -6rem);
  }
}

@media screen and (min-width: 475px) and (max-width: 1024px) { 
  .nav-padding {
    height: 8rem;
  }

  .nav-nopadding {
    transform:translate(0, -8rem);
  }
}

@media screen and (min-width: 1024px) {
  .nav-padding {
    height: 8rem;
  }

  .nav-nopadding {
    transform:translate(0, -8rem);
  }
}