/* frame */
@media screen and (max-width: 820px) {
  .frame__container {
    margin: 3rem 7%;
  }

  .frame__title {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 2.5rem;
  }

  .frame__flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 3rem 0;
  }

  .frame__right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .frame__sort {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
  }

  .frame__sort form {
    width: 100%;
  }

  .frame__sort select{
    align-items: flex-end;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }

  .frame__search {
    width: 100%;
    margin-bottom: 1rem;
  }

  .frame__search form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .frame__search form input {
    background-color: var(--main-skin);
    border: none;
    padding: 0.7rem;
    border-radius: 1rem;
    width: 100%;
  }

  .frame__create {
    width: 100%;
    text-align: center;
  }

  .frame__right a {
    background: var(--main-red);
    color: white;
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
  }

  .frame__img img {
    width: 100%;
    height: 100%;
  }

  .frame__frametitle {
    font-size: 1.15rem;
    margin: 0.5rem 0;
  }

  .frame__box {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 1rem;
    justify-content: center;
  }

  .frame__one-box {
    padding: 0.5rem;
    height: 100%;
  }
}

@media screen and (min-width: 820px) and (max-width: 1024px) {
  .frame__container {
    margin: 4rem 6rem;
  }

  .frame__flex-box {
    display: flex;
    margin: 1rem 0 3rem 0;
  }

  .frame__title {
    font-size: 2rem;
    font-weight: 800;
    width: 40%;
  }

  .frame__right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 60%;
  }

  .frame__right .frame__sort {
    margin-right: 0.5rem;
  }

  .frame__right .frame__sort select{
    border-radius: 1rem;
    padding: 0.5rem;
  }

  .frame__right .frame__search {
    margin-right: 0.5rem;
  }

  .frame__right .frame__search input {
    background-color: var(--main-skin);
    border: none;
    padding: 0.7rem;
    border-radius: 1rem;
  }

  .frame__right .frame__create {
    margin-bottom: 0;
  }

  .frame__create {
    background: var(--main-red);
    color: white;
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    font-weight: 800;
  }

  .frame__img img {
    width: 100%;
    height: 100%;
  }

  .frame__frametitle {
    font-size: 1.15rem;
    margin: 0.5rem 0;
  }

  .frame__box {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 2rem;
    justify-content: center;
  }

  .frame__one-box {
    padding: 0.5rem;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .frame__container {
    margin: 4rem 6rem;
  }

  .frame__flex-box {
    display: flex;
    margin: 1rem 0 3rem 0;
  }

  .frame__title {
    font-size: 2rem;
    font-weight: 800;
    width: 70%;
  }

  .frame__right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 60%;
  }

  .frame__right .frame__sort {
    margin-right: 0.5rem;
  }

  .frame__right .frame__sort select{
    border-radius: 1rem;
    padding: 0.5rem;
  }

  .frame__right .frame__search {
    margin-right: 0.5rem;
  }

  .frame__right .frame__search input {
    background-color: var(--main-skin);
    border: none;
    padding: 0.7rem;
    border-radius: 1rem;
  }

  .frame__right .frame__create {
    margin-bottom: 0;
  }

  .frame__create {
    background: var(--main-red);
    color: white;
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    font-weight: 800;
  }

  .frame__img img {
    width: 100%;
    height: 100%;
  }

  .frame__frametitle {
    font-size: 1.15rem;
    margin: 0.5rem 0;
  }

  .frame__box {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 2rem;
    justify-content: center;
  }

  .frame__one-box {
    padding: 0.5rem;
    height: 100%;
  }
}

/* framecreate */
@media screen and (max-width: 480px) {
  .framecreate-form {
    width: 30rem;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .framecreate-form .framecreate__title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .framecreate-form .framecreate__hr {
    background-color: var(--main-red);
    height: 0.1rem;
    margin: 2rem 0 4rem 0;
  }

  .framecreate__info div span {
    display: inline-block;
    text-align: center;
    line-height: 1.4rem;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.3rem;
    width: 6rem;
  }
  
  .framecreate__info div input {
    width: 20rem;
    margin-bottom: 1.5rem;
  }

  .framecreate__info div input[type="checkbox"] {
    width: 1.5rem;
    margin-bottom: 0;
  }

  .framecreate__info div input[type="text"] {
    width: 20rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-background);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .framecreate__info div textarea{
    background-color: var(--main-background);
    border: none;
    border-radius: 1rem;
    width: 20rem;
    padding: 1rem;
  }

  .framecreate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .framecreate__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .framecreate-form {
    width: 40rem;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .framecreate-form .framecreate__title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .framecreate-form .framecreate__hr {
    background-color: var(--main-red);
    height: 0.1rem;
    margin: 2rem 0 4rem 0;
  }

  .framecreate__info div span {
    display: inline-block;
    text-align: center;
    line-height: 1.4rem;
    font-size: 1.3rem;
    margin: 0 1.5rem 1.5rem 0;
  }
  
  .framecreate__info div input {
    margin-bottom: 1.5rem;
  }

  .framecreate__info div input[type="text"] {
    width: 25rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-background);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .framecreate__info div textarea{
    background-color: var(--main-background);
    border: none;
    border-radius: 1rem;
    width: 25rem;
    padding: 1rem;
  }

  .framecreate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .framecreate__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .framecreate-form {
    width: 40rem;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .framecreate-form .framecreate__title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .framecreate-form .framecreate__hr {
    background-color: var(--main-red);
    height: 0.1rem;
    margin: 2rem 0 4rem 0;
  }

  .framecreate__info div span {
    display: inline-block;
    text-align: center;
    line-height: 1.4rem;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.3rem;
  }
  
  .framecreate__info div input {
    margin-bottom: 1.5rem;
  }

  .framecreate__info div input[type="text"] {
    width: 25rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-background);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .framecreate__info div textarea{
    background-color: var(--main-background);
    border: none;
    border-radius: 1rem;
    width: 25rem;
    padding: 1rem;
  }

  .framecreate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .framecreate__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }
}

/* framedetail */
@media screen and (max-width: 480px) {
  .framedetail {
    width: 30rem;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .framedetail__title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .framedetail__hr {
    background-color: var(--main-red);
    height: 0.1rem;
    margin: 2rem 0;
  }

  .framedetail__frametitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .framedetail__img img{
    width: 100%;
    height: auto;
  }

  .framedetail__memo {
    font-size: 1.4rem;
    margin: 2rem 0;
  }

  .framedetail__btn-box {
    display: flex;
  }

  .framedetail__btn-box .framedetail__update {
    border: 1px solid var(--main-red);
    width: 7rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    text-align: center;
    margin-right: 1rem;
  }

  .framedetail__btn-box a{
    font-size: 1.3rem;
    font-weight: 800;
  }

  .framedetail__btn-box .framedetail__delete {
    border: 1px solid var(--main-red);
    width: 7rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .framedetail {
    width: 50rem;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .framedetail__title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .framedetail__hr {
    background-color: var(--main-red);
    height: 0.1rem;
    margin: 2rem 0;
  }

  .framedetail__frametitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .framedetail__img img{
    width: 100%;
    height: auto;
  }

  .framedetail__memo {
    font-size: 1.4rem;
    margin: 2rem 0;
  }

  .framedetail__btn-box {
    display: flex;
  }

  .framedetail__btn-box .framedetail__update {
    border: 1px solid var(--main-red);
    width: 7rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    text-align: center;
    margin-right: 1rem;
  }

  .framedetail__btn-box a{
    font-size: 1.3rem;
    font-weight: 800;
  }

  .framedetail__btn-box .framedetail__delete {
    border: 1px solid var(--main-red);
    width: 7rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
  }
}

@media screen and (min-width: 1024px) {
  .framedetail {
    width: 50rem;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .framedetail__title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .framedetail__hr {
    background-color: var(--main-red);
    height: 0.1rem;
    margin: 2rem 0;
  }

  .framedetail__frametitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .framedetail__img img{
    width: 100%;
    height: auto;
  }

  .framedetail__memo {
    font-size: 1.4rem;
    margin: 2rem 0;
  }

  .framedetail__btn-box {
    display: flex;
  }

  .framedetail__btn-box .framedetail__update {
    border: 1px solid var(--main-red);
    width: 7rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    text-align: center;
    margin-right: 1rem;
  }

  .framedetail__btn-box a{
    font-size: 1.3rem;
    font-weight: 800;
  }

  .framedetail__btn-box .framedetail__delete {
    border: 1px solid var(--main-red);
    width: 7rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
  }
}

/* frameupdate */
@media screen and (max-width: 480px) {
  .frameupdate-form {
    width: 30rem;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .frameupdate-form .frameupdate__title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .frameupdate-form .frameupdate__hr {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0 4rem 0;
  }

  .frameupdate__info div span {
    display: inline-block;
    text-align: center;
    line-height: 1.4rem;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.3rem;
    width: 6rem;
  }
  
  .frameupdate__info div input {
    width: 20rem;
    margin-bottom: 1.5rem;
  }

  .frameupdate__info div input[type="checkbox"] {
    width: 1.5rem;
    margin-bottom: 0;
  }

  .frameupdate__info div input[type="text"] {
    width: 20rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-background);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .frameupdate__info div textarea{
    background-color: var(--main-background);
    border: none;
    border-radius: 1rem;
    width: 20rem;
    padding: 1rem;

  }

  .frameupdate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .frameupdate__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .frameupdate-form {
    width: 40rem;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .frameupdate-form .frameupdate__title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .frameupdate-form .frameupdate__hr {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0 4rem 0;
  }

  .frameupdate__info div span {
    display: inline-block;
    text-align: center;
    line-height: 1.4rem;
    font-size: 1.3rem;
    margin: 0 1.5rem 1.5rem 0;
  }
  
  .frameupdate__info div input {
    margin-bottom: 1.5rem;
  }

  .frameupdate__info div input[type="text"] {
    width: 25rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-background);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .frameupdate__info div textarea{
    background-color: var(--main-background);
    border: none;
    border-radius: 1rem;
    width: 25rem;
    padding: 1rem;
  }

  .frameupdate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .frameupdate__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .frameupdate-form {
    width: 40rem;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .frameupdate-form .frameupdate__title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .frameupdate-form .frameupdate__hr {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0 4rem 0;
  }

  .frameupdate__info div span {
    display: inline-block;
    text-align: center;
    line-height: 1.4rem;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.3rem;
  }
  
  .frameupdate__info div input {
    margin-bottom: 1.5rem;
  }

  .frameupdate__info div input[type="text"] {
    width: 25rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-background);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .frameupdate__info div textarea{
    background-color: var(--main-background);
    border: none;
    border-radius: 1rem;
    width: 25rem;
    padding: 1rem;
  }

  .frameupdate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .frameupdate__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }
}