/* frame */
@media screen and (max-width: 600px) {
  .frame__container {
    margin: 3rem 7%;
  }

  .frame__flex-box {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  .frame__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  .frame__title {
    font-size: 1.8rem;
    font-weight: 800;
  }

  .frame__create {
    font-size: 2.8rem;
  }

  .frame__right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .frame__sort {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
  }

  .frame__sort form {
    width: 100%;
  }

  .frame__sort select{
    align-items: flex-end;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }

  .frame__search{
    width: 100%;
    margin-bottom: 1rem;
  }

  .frame__search form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .frame__search form input {
    background-color: white;
    padding: 0.7rem;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    width: 100%;
  }

  .frame__right .frame__search form {
    display: flex;
    position: relative;
    align-items: center;
  }

  .frame__right .frame__search .glass__icon{
    position: absolute;
    right: 1rem;
  }

  .frame__main__keyword{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .keyword__section{
    display: flex;
    flex-wrap: wrap;
  }

  .frame__ranking__title{
    font-size: 1.8rem;
    font-weight: 800;
    padding: 1rem;
  }

  .grid__box{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 1rem;
    column-gap: 0.5rem;
  }

  .grid__img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 23rem;
    background-color: rgb(241, 241, 241); 
    overflow: hidden;
  }

  .img-box {
    position: relative;
    width: 95%;
  }

  .frame__info-box {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .frame__frametitle {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .recommendBtn,
  .bookmarkBtn {
    background: transparent;
    border: none;
    outline:none;
    padding: 0.4rem;
    transition: 0.1s;
    font-size: 1.7rem;
    color: var(--main-color);
  }


}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .frame__container {
    margin: 4rem 10%;
  }

  .frame__flex-box {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 3rem 0;
    padding: 0 2rem;
  }

  .frame__left {
    display: flex;
    align-items: center;
  }

  .frame__title {
    font-size: 2rem;
    font-weight: 800;
    width: 100%;
  }

  .frame__create {
    font-size: 3rem;
    margin-left: 1rem;
  }

  .frame__right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 70%;
  }

  .frame__right .frame__sort {
    margin-right: 0.5rem;
  }

  .frame__right .frame__sort select{
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .frame__right .frame__search {
    margin-right: 0.5rem;
  }

  .frame__right .frame__search form {
    display: flex;
    position: relative;
    align-items: center;
  }
  .frame__search form input {
    background-color: white;
    padding: 0.7rem;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    width: 100%;
  }

  .frame__right .frame__search .glass__icon{
    position: absolute;
    right: 1rem;
  }

  .frame__main__keyword{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    padding: 1rem;
  }

  .keyword__section{
    display: flex;
    flex-wrap: wrap;
  }

  .frame__ranking__title{
    font-size: 1.8rem;
    font-weight: 800;
    padding: 1rem;
  }

  .frame__main__hr{
    margin: 2rem 0 3rem 0;
    
  }
  .grid__box{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    row-gap: 1.3rem;
    column-gap: 0.5rem;
  }

  .ranking__one-box:nth-last-child(1){
    display:none;
  }

  .grid__img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 26rem;
    background-color: rgb(241, 241, 241); 
    overflow: hidden;
  }

  .img-box {
    position: relative;
    width: 95%;
  }

  .frame__info-box {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  }

  .frame__frametitle {
    width: 90%;
    font-size: 1.6rem;
    margin 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  .frame__btn__section{
    width: 90%;
  }

  .frame__info-box{
    width: 95%;

  }
  .recommendBtn,
  .bookmarkBtn {
    background: transparent;
    border: none;
    outline:none;
    padding: 0.4rem;
    transition: 0.1s;
    font-size: 2rem;
    color: var(--main-color);
  }
  
}

@media screen and (min-width: 1024px) {
  .frame__container {
    margin: 4rem 10%;
  }
  
  .frame__flex-box {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 3rem 0;
    padding: 0 2rem;
  }

  .frame__left {
    display: flex;
    align-items: center;
  }

  .frame__title {
    font-size: 2.1rem;
    font-weight: 800;
    width: 100%;
    white-space: nowrap;
  }

  .frame__create {
    font-size: 3.2rem;
    margin-left: 1rem;
  }

  .frame__right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 80%;
  }

  .frame__right .frame__sort {
    margin-right: 0.5rem;
  }

  .frame__right .frame__sort select{
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .frame__right .frame__search {
    margin-right: 0.5rem;
  }

  .frame__right .frame__search form {
    display: flex;
    position: relative;
    align-items: center;
  }
  .frame__search form input {
    background-color: white;
    padding: 0.7rem;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    width: 100%;
  }

  .frame__right .frame__search .glass__icon{
    position: absolute;
    right: 1rem;
  }

  .frame__main__keyword{
    width: 100%;
    display: flex;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .keyword__section{
    display: flex;
    flex-wrap: wrap;
  }

  .frame__ranking__title{
    font-size: 2.2rem;
    font-weight: 800;
    padding: 1rem;
  }

  .frame__main__hr{
    margin: 3rem 0 4rem 0;
    
  }
  .grid__box{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    row-gap: 1.3rem;
    column-gap: 0.5rem;
  }

  .grid__img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 28rem;
    background-color: rgb(241, 241, 241); 
    overflow: hidden;
  }

  .img-box {
    position: relative;
    width: 95%;
  }

  .frame__info-box {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .frame__frametitle {
    width: 90%;
    font-size: 1.8rem;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .frame__btn__section{
    width: 90%;
  }

  .frame__info-box{
    width: 95%;

  }
  .recommendBtn,
  .bookmarkBtn {
    background: transparent;
    border: none;
    outline:none;
    padding: 0.4rem;
    transition: 0.1s;
    font-size: 2.2rem;
    color: var(--main-color);
  }
}

.grid__one-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.ranking__grid__section,
.frame__grid__section,
.recommend__grid__section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid__img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.recommendactive {
  background: transparent;
  color: red;
  transition: 0.1s;
}
.bookmarkactive {
  background: transparent;
  color: rgb(255, 213, 0);
  transition: 0.1s;
}

.frame__left{
  color: var(--main-color);
}

/* framecreate */
@media screen and (max-width: 480px) {
  .framecreate-form {
    width: 34rem;
    margin: 3rem auto;
    padding: 3rem 0;
  }

  .framecreate-form .framecreate__title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .framecreate-form .framecreate__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .framecreate__info {
    padding: 0 1rem;
  }

  .framecreate__info div span {
    display: inline-block;
    text-align: right;
    margin: 0 1rem 1.5rem 0;
    font-size: 1.2rem;
    width: 7rem;
  }
  
  .framecreate__info div input {
    margin-bottom: 1.5rem;
  }

  .framecreate__info div label{
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  .framecreate__info div input[type="file"] {
    width: 22rem;
  }

  .framecreate__info div input[type="text"] {
    width: 22rem;
    height: 3.2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .framecreate__info div textarea{
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    width: 22rem;
    height: 12rem;
    padding: 1rem;
  }

  .framecreate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .framecreate__btn {
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    width: 10rem;
    height: 3.2rem;
  }

  .framecreate__btn:hover {
    background-color: var(--main-color);
    color: white;
    transition: 0.2s;
  }

  #framephoto {
    margin-bottom: 0;
  }

  .framecreate__info .messages {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-red);
    margin-left: 8rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .framecreate-form {
    width: 40rem;
    margin: 5rem auto;
    padding: 5rem 0;
  }

  .framecreate-form .framecreate__title {
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .framecreate-form .framecreate__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .framecreate__info {
    padding: 0 2rem;
  }

  .framecreate__info div span {
    display: inline-block;
    text-align: right;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.4rem;
    width: 8rem;
  }
  
  .framecreate__info div input {
    margin-bottom: 1.5rem;
  }

  .framecreate__info div label{
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  .framecreate__info div input[type="text"] {
    width: 25rem;
    height: 3.2rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .framecreate__info div textarea{
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    width: 25rem;
    height: 17rem;
    padding: 1rem;
  }

  .framecreate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .framecreate__btn {
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    width: 12rem;
    height: 3.2rem;
  }

  .framecreate__btn:hover {
    background-color: var(--main-color);
    color: white;
    transition: 0.2s;
  }

  #framephoto {
    margin-bottom: 0.2rem;
  }

  .framecreate__info .messages {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--main-red);
    margin-left: 9.5rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .framecreate-form {
    width: 50rem;
    margin: 5rem auto;
    padding: 5rem 0;
  }

  .framecreate-form .framecreate__title {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .framecreate-form .framecreate__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .framecreate__info {
    padding: 0 5rem;
  }

  .framecreate__info div span {
    display: inline-block;
    text-align: right;
    line-height: 1.4rem;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.6rem;
    width: 8rem;
  }
  
  .framecreate__info div input {
    margin-bottom: 1.5rem;
  }

  .framecreate__info div label{
    font-size: 1.4rem;
    margin-left: 0.5rem;
  }

  .framecreate__info div input[type="text"] {
    width: 30rem;
    height: 3.2rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .framecreate__info div textarea{
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    width: 30rem;
    height: 17rem;
    padding: 1rem;
  }

  .framecreate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .framecreate__btn {
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    width: 12rem;
    height: 3.2rem;
  }

  .framecreate__btn:hover {
    background-color: var(--main-color);
    color: white;
    transition: 0.2s;
  }

  #framephoto {
    margin-bottom: 0.2rem;
  }

  .framecreate__info .messages {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-red);
    margin-left: 9.5rem;
    margin-bottom: 1rem;
  }
}

.framecreate__btn {
  cursor: pointer;
}

/* framedetail */
@media screen and (max-width: 480px) {
  .framedetail {
    margin: 3rem 10%;
  }

  .framedetail__head{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: var(--main-color);
  }

  .framedetail__head i{
    margin-right: 1rem;
  }

  .framedetail__title {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .framedetail__hr {
    background-color: var(--main-gray600);
    height: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .frame__post{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .frame__post__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }
  .framedetail__frametitle {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--main-color);
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .like__cnt{
    font-size: 1.2rem;
    color: var(--main-color);
  }

  .frame__keyword{
    height: 100%;
    margin: 1rem 0;
  }

  .frame__per-keyword{
    font-size: 1.3rem;
    color: var(--main-color);
    background-color: rgb(255, 212, 212);
    border-radius: 0.3rem;
    padding: 0.5rem 0.7rem;
    margin-right: 0.3rem;
  }

  .framedetail__img,
  .frame__example{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }

  .framedetail__img img,
  .frame__example img{
    width: 25rem;
    height: auto;
  }

  .framedetail__memo {
    font-size: 1.5rem;
    padding: 1rem; 
  }

  .framedetail__btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-size: 1.7rem;
  }

  .btn--left,
  .btn--right {
    display: flex;
  }

  .btn--left button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.3rem;
  }

  .like__selected{
    color: red;
  }

  .bookmark__selected{
    color: rgb(255, 213, 0);
  }

  .btn--right button{
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    padding:0.5rem 1rem;
    font-size: 1.4rem;
  }

  .framedetail__update{
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .framedetail {
    margin: 4rem 10%;
  }

  .framedetail__head{
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: var(--main-color);
  }

  .framedetail__head i{
    margin-right: 1rem;
  }

  .framedetail__title {
    font-size: 1.7rem;
    font-weight: 700;
  }

  .framedetail__hr {
    background-color: var(--main-gray600);
    height: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .frame__post{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
  }

  .frame__post__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }
  .framedetail__frametitle {
    font-size: 2.3em;
    font-weight: 800;
    color: var(--main-color);
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .like__cnt{
    font-size: 1.5rem;
    color: var(--main-color);
  }

  .frame__keyword{
    height: 100%;
    margin: 1.5rem 0;
  }

  .frame__per-keyword{
    font-size: 1.5rem;
    color: var(--main-color);
    background-color: rgb(255, 212, 212);
    border-radius: 0.3rem;
    padding: 0.5rem 0.7rem;
    margin-right: 0.3rem;
  }

  .framedetail__img,
  .frame__example{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }

  .framedetail__img img,
  .frame__example img{
    width: 32rem;
    height: auto;
  }

  .framedetail__memo {
    font-size: 1.8rem;
    padding: 1rem; 
  }

  .framedetail__btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-size: 1.7rem;
  }

  .btn--left,
  .btn--right {
    display: flex;
  }

  .btn--left button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.3rem;
  }

  .like__selected{
    color: red;
  }

  .bookmark__selected{
    color: rgb(255, 213, 0);
  }

  .btn--right button{
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    padding:0.5rem 1rem;
    font-size: 1.5rem;
  }

  .framedetail__update{
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .framedetail {
    margin: 4rem 10%;
  }

  .framedetail__head{
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: var(--main-color);
  }

  .framedetail__head i{
    margin-right: 1rem;
  }

  .framedetail__title {
    font-size: 1.9rem;
    font-weight: 700;
  }

  .framedetail__hr {
    background-color: var(--main-gray600);
    height: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .frame__post{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
  }

  .frame__post__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }
  .framedetail__frametitle {
    font-size: 2.5em;
    font-weight: 800;
    color: var(--main-color);
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .like__cnt{
    font-size: 1.6rem;
    color: var(--main-color);
  }

  .frame__keyword{
    height: 100%;
    margin: 1.5rem 0;
  }

  .frame__per-keyword{
    font-size: 1.5rem;
    color: var(--main-color);
    background-color: rgb(255, 212, 212);
    border-radius: 0.3rem;
    padding: 0.5rem 0.7rem;
    margin-right: 0.3rem;
  }

  .framedetail__img,
  .frame__example{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }

  .framedetail__img img,
  .frame__example img{
    width: 37rem;
    height: auto;
  }

  .framedetail__memo {
    font-size: 1.8rem;
    padding: 1rem; 
  }

  .framedetail__btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-size: 1.6rem;
  }

  .btn--left,
  .btn--right {
    display: flex;
  }

  .btn--left button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.7rem;
  }

  .like__selected{
    color: red;
  }

  .bookmark__selected{
    color: rgb(255, 213, 0);
  }

  .btn--right button{
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    padding:0.5rem 1rem;
    font-size: 1.5rem;
  }

  .framedetail__update{
    margin-right: 0.5rem;
  }
}

/* frameupdate */
@media screen and (max-width: 480px) {
  .frameupdate-form {
    width: 34rem;
    margin: 3rem auto;
    padding: 3rem 0;
  }

  .frameupdate-form .frameupdate__title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .frameupdate-form .frameupdate__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .frameupdate__info {
    padding: 0 1rem;
  }

  .frameupdate__info div span {
    display: inline-block;
    text-align: right;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.2rem;
    width: 7rem;
  }

  .frameupdate__photo {
    display: flex;
  }

  #frameupdate__phototitle {
    margin: 0 0 0 0.8rem;
  }

  .framebox {
    width: 22rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 1.5rem;
  }

  #framephoto1 {
    margin: 0 0 1rem 8.8rem;
  }
  
  .frameupdate__info div input {
    margin-bottom: 1.5rem;
  }

  .frameupdate__info div input[type="file"] {
    width: 22rem;
  }

  .frameupdate__info div input[type="text"] {
    width: 22rem;
    height: 3.2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .frameupdate__info div textarea{
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    font-size: 1.2rem;
    width: 22rem;
    height: 13rem;
    padding: 1rem;
  }

  .frameupdate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .frameupdate__btn {
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    width: 12rem;
    height: 3.2rem;
    cursor: pointer;
    font-size: 1.2rem;
  }

  .frameupdate__btn:hover {
    background-color: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .frameupdate-form {
    width: 40rem;
    margin: 3rem auto;
    padding: 3rem 0;
  }

  .frameupdate-form .frameupdate__title {
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .frameupdate-form .frameupdate__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .frameupdate__info {
    padding: 0 2rem;
  }

  .frameupdate__info div span {
    display: inline-block;
    text-align: right;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.4rem;
    width: 7rem;
  }

  .frameupdate__photo {
    display: flex;
  }

  .framebox {
    width: 25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 1.5rem;
  }

  #framephoto1 {
    margin: 0 0 1rem 8.8rem;
  }

  #frameupdate__phototitle {
    margin: 0 0 0 0.8rem;
  }
  
  .frameupdate__info div input {
    margin-bottom: 1.5rem;
  }

  .frameupdate__info div input[type="file"] {
    width: 25rem;
  }

  .frameupdate__info div input[type="text"] {
    width: 25rem;
    height: 3.2rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .frameupdate__info div textarea{
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    font-size: 1.4rem;
    width: 25rem;
    height: 17rem;
    padding: 1rem;
  }

  .frameupdate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .frameupdate__btn {
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    width: 12rem;
    height: 3.2rem;
    cursor: pointer;
    font-size: 1.4rem;
  }

  .frameupdate__btn:hover {
    background-color: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}

@media screen and (min-width: 1024px) {
  .frameupdate-form {
    width: 50rem;
    margin: 3rem auto;
    padding: 3rem 0;
  }

  .frameupdate-form .frameupdate__title {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .frameupdate-form .frameupdate__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .frameupdate__info {
    padding: 0 5rem;
  }

  .frameupdate__info div span {
    display: inline-block;
    text-align: right;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.6rem;
    width: 7rem;
  }

  .frameupdate__photo {
    display: flex;
  }

  .framebox {
    width: 30rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 0.5rem;
  }

  #framephoto1 {
    margin: 0 0 1rem 8.8rem;
  }
  
  .frameupdate__info div input {
    margin-bottom: 1.5rem;
  }

  .frameupdate__info div input[type="file"] {
    width: 30rem;
  }

  .frameupdate__info div input[type="text"] {
    width: 30rem;
    height: 3.2rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .frameupdate__info div textarea{
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    font-size: 1.4rem;
    width: 30rem;
    height: 17rem;
    padding: 1rem;
  }

  .frameupdate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .frameupdate__btn {
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    width: 12rem;
    height: 3.2rem;
    cursor: pointer;
    font-size: 1.6rem;
  }

  .frameupdate__btn:hover {
    background-color: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}