@media screen and (max-width: 740px) {
  .morepage--container{
    margin: 3rem;
  }

  .morepage--title {
    font-size: 1.8rem;
  }

  .lifedetail--grid--section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .per--lifedetail img{
    width: 100%;
    height: 100%;
  }

  .lifedetail--text{
    font-size: 1.2rem;
  }
  
}

@media screen and (min-width: 740px) and (max-width: 1024px){
  .morepage--container{
    margin: 4rem 6rem;
  }

  .morepage--title {
    font-size: 2rem;
  }

  .lifedetail--grid--section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }

  .per--lifedetail img{
    width: 100%;
    height: 100%;
  }

  .lifedetail--text{
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .morepage--container{
    margin: 4rem 6rem;
  }

  .morepage--title {
    font-size: 2.3rem;
  }

  .lifedetail--grid--section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
  }

  .per--lifedetail img{
    width: 100%;
    height: 100%;
  }

  .lifedetail--text{
    font-size: 1.4rem;
  }
}

.morepage--container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.morepage--title {
  font-weight: 600;
  margin-bottom: 1.5rem;
  width: 100%;  
  text-align: center;
}

.per--lifedetail{
  /* width: 100%;
  */
  background-color:rgb(247, 247, 247); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.lifedetail--text{
  width: 100%;
  font-weight: 500;
  background-color: white;
  text-align: center;
}

.lifedetail--grid--section{
  margin-bottom: 3rem;
}

.pagenum,
.previous--btn,
.next--btn{
  font-size: 1.6rem;
  font-weight: 400;
}

