@media screen and (max-width: 480px){
  .per--lifedetail:hover .limited--detail--text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
  }

  .limited-frame--section a:hover div{
    font-size: 0.5rem;
    line-height: 1.2rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 480px) and (max-width: 740px){
  .per--lifedetail:hover .limited--detail--text{
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 600;
  }

  .limited-frame--section a:hover div{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 740px) and (max-width: 1024px){
  .per--lifedetail:hover .limited--detail--text{
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 500;
  }

  .limited-frame--section a:hover div{
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .per--lifedetail:hover .limited--detail--text{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }

  .limited-frame--section a:hover div{
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 740px) {
  .morepage--container{
    margin: 3rem;
  }

  .morepage--title {
    font-size: 1.8rem;
  }

  .lifedetail--grid--section{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 1rem;
  }
  .per--lifedetail img{
    width: 100%;
    height: 100%;
  }

  .goto--home{
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 740px) and (max-width: 1024px){
  .morepage--container{
    margin: 4rem 6rem;
  }

  .morepage--title {
    font-size: 2rem;
  }

  .lifedetail--grid--section{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 1.5rem;
  }

  .per--lifedetail img{
    width: 100%;
    height: 100%;
  }

  .goto--home{
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .morepage--container{
    margin: 4rem 6rem;
  }

  .morepage--title {
    font-size: 2.3rem;
  }

  .lifedetail--grid--section{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
  }

  .per--lifedetail img{
    width: 100%;
    height: 100%;
  }

  .goto--home{
    font-size: 2rem;
  }
}

.morepage--container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.morepage--header{
  display: flex;
  width: 100%;
  justify-content : space-between;
  align-items: center;
  margin-bottom: 1.3rem;
}

.goto--home:hover{
  color: var(--main-color);
}

.morepage--title {
  font-weight: 600;
  width: 100%;  
  text-align: center;
}

.per--lifedetail{
  background-color:rgb(247, 247, 247); 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.per--lifedetail a,
.limited-frame--section a{
  position: relative;
}

.lifedetail--grid--section{
  margin-bottom: 3rem;
}

.limited--detail--text{
  display: none;
}

.per--lifedetail:hover img{
  filter:brightness(40%);
  transition: filter, 0.5s;
}

.limited-frame--section img:hover{
  filter:brightness(40%);
  transition: filter, 0.5s;
}

.per--lifedetail:hover .limited--detail--text,
.limited-frame--section a:hover div{
  display: block;
  padding: 1rem;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1;
}

