/* common */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

img {
  cursor: pointer;
}

/* main */
@media screen and (max-width: 475px) {
  .main__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    margin: 0 2rem;
  }

  .main__navbar a {
    color: var(--main-red);
  }

  .main__navbar .main__left {
    text-align: center;
    width: 25%;
  }

  .main__navbar .main__left .main__logo {
    font-weight: 800;
    font-size: 2.2rem;
  }

  .main__navbar .main__right {
    width: 75%;
    visibility: hidden;
  }

  .main__navbar .main__right ul {
    display: flex;
    align-items: center;
  }

  .main__navbar .main__right ul li {
    width: 100%;
  }

  .main__navbar .main__right .main__navbar-btn {
    visibility: visible;
  }
}

@media screen and (min-width: 475px) and (max-width: 1024px) {
  .main__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin: 0 3.5rem;
  }

  .main__navbar a {
    color: var(--main-red);
  }

  .main__navbar .main__left {
    width: 25%;
    text-align: center;
  }

  .main__navbar .main__left .main__logo {
    font-weight: 800;
    font-size: 2.3rem;
    text-align: center;
  }

  .main__navbar .main__right {
    width: 75%;
    visibility: hidden;
  }

  .main__navbar .main__right ul {
    display: flex;
    align-items: center;
  }

  .main__navbar .main__right ul li {
    width: 100%;
  }

  .main__navbar .main__right .main__navbar-btn {
    visibility: visible;
  }
}

@media screen and (min-width: 1024px) {
  .main__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin: 0 5rem;
  }

  .main__navbar a {
    color: var(--main-red);
  }

  .main__navbar .main__left {
    width: 25%;
  }

  .main__navbar .main__left .main__logo {
    font-weight: 800;
    font-size: 2.8rem;
  }

  .main__navbar .main__right {
    width: 75%;
    font-size: 1.5rem;
  }

  .main__navbar .main__right ul {
    display: flex;
    align-items: center;
  }

  .main__navbar .main__right ul li {
    margin-right: 1rem;
    text-align: center;
    width: 100%;
    line-height: 1.4rem;
    padding-left: 1.5rem;
  }

  .main__navbar .main__right .main__user {
    color: #3c3c3c;
    font-weight: 800;
  }

  .main__navbar .main__right .main__navbar-btn {
    display: none;
  }

  .main__navbar-list {
    display: none;
  }
}

.main__navbar-list {
  border: 1px solid var(--main-red);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 20rem;
  margin-top: 15rem;
  background: white;
  z-index: 999;
}

.main__navbar-list ul li {
  border-bottom: 0.5px solid lightgray;
  padding: 0.8rem;
  font-size: 1.2rem;
}

.main__navbar-list ul li:last-child {
  border-bottom: none;
}

.main__navbar-list .main__user {
  color: #3c3c3c;
}

/* footer */
footer {
  width: 100%;
  background: #eaeaea;
  position: fixed;
  bottom: 0;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 1024px) {
  footer {
    padding: 1.7rem 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 2.3rem 2rem;
  }
}

/* mypage */
@media screen and (max-width: 475px) {
  .mypage__container {
    margin: 0 5rem;
  }

  .mypage__title {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 1rem 0;
    text-align: center;
  }

  .mypage__flexbox {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mypage__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .mypage__left .mypage__btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }

  .mypage__left .mypage__btn {
    font-size: 1.4rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    padding: 1rem 1.2rem;
    background: var(--main-red);
    color: white;
    text-align: center;
    cursor: pointer;
    width: 15rem;
  }

  .mypage__left .mypage__btn:last-child {
    margin-right: 0;
  }

  .mypage__left img {
    border-radius: 50%;
    width: 80%;
  }

  .mypage__storage-title {
    font-size: 1.7rem;
  }

  .mypage__hr {
    background: var(--main-red);
    border-color: var(--main-red);
    margin: 1.5rem 0 3.5rem 0;
    height: 1px;
  }

  .mypage__right .mypage__storage-box {
    display: flex;
    flex-direction: column;
  }

  .mypage__right .mypage__storage-box .mypage__storage {
    background: var(--main-background);
    margin-bottom: 2rem;
    height: 12rem;
  }
}

@media screen and (min-width: 475px) and (max-width: 1024px) {
  .mypage__container {
    margin: 0 7rem;
  }

  .mypage__title {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 5rem;
  }

  .mypage__flexbox {
    display: flex;
  }

  .mypage__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mypage__left .mypage__btn {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border-radius: 1.2rem;
    padding: 0.8rem 1.2rem;
    background: var(--main-red);
    color: white;
    text-align: center;
    cursor: pointer;
    width: 15rem;
  }

  .mypage__left img {
    border-radius: 50%;
    width: 100%;
    margin-bottom: 2em;
  }

  .mypage__storage-title {
    font-size: 1.5rem;
  }

  .mypage__hr {
    background: var(--main-red);
    border-color: var(--main-red);
    margin: 1rem 0 3rem 0;
    height: 1px;
  }

  .mypage__right {
    width: 70%;
    margin-left: 5rem;
  }

  .mypage__right .mypage__storage-box {
    display: flex;
    height: 90%;
  }

  .mypage__right .mypage__storage-box .mypage__storage {
    background: var(--main-background);
    width: 50%;
    margin-right: 3rem;
    margin-bottom: 2rem;
  }

  .mypage__right .mypage__storage-box .mypage__storage:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .mypage__container {
    margin: 0 12rem;
  }

  .mypage__title {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 2rem 0 5rem 0;
  }

  .mypage__flexbox {
    display: flex;
  }

  .mypage__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mypage__left .mypage__btn {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border-radius: 1.2rem;
    padding: 0.8rem 1.2rem;
    background: var(--main-red);
    color: white;
    text-align: center;
    cursor: pointer;
    width: 15rem;
  }

  .mypage__left img {
    border-radius: 50%;
    width: 60%;
    margin-bottom: 2em;
  }

  .mypage__storage-title {
    font-size: 1.7rem;
  }

  .mypage__hr {
    background: var(--main-red);
    border-color: var(--main-red);
    margin: 1.5rem 0 3.5rem 0;
    height: 1px;
  }

  .mypage__right {
    width: 70%;
    margin-left: 5rem;
  }

  .mypage__right .mypage__storage-box {
    display: flex;
    height: 90%;
  }

  .mypage__right .mypage__storage-box .mypage__storage {
    background: var(--main-background);
    width: 50%;
    margin-right: 3rem;
    margin-bottom: 2rem;
  }

  .mypage__right .mypage__storage-box .mypage__storage:last-child {
    margin-right: 0;
  }
}
