#slide1 {
  background: var(--main-background);
}

#slide2 {
  background: #ffd9d1;
}

#slide2 .slide-button {
  border: 1px solid #666;
  color: #666;
}

#slide3 {
  background: #ccf2f4;
}

#slide3 .slide-button {
  border: 1px solid #666;
  color: #666;
}

#slide4 {
  background: #ffe;
}

.swiper-left img,
.swiper-right img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 450px) {
  .swiper {
    width: 100%;
    height: 25rem;
  }
  
  .swiper-left {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin: 0 1rem;
  }
  
  .swiper-right {
    width: 15rem;
    margin: 0 1rem;
  }
  
  .slide-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  
  .slide-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #666;
  }
  
  .slide-button {
    width: 13rem;
    border: 1px solid var(--main-red);
    color: var(--main-red);
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-size: 0.1rem;
    text-align: center;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .swiper {
    width: 100%;
    height: 40rem;
  }
  
  .swiper-left {
    display: flex;
    flex-direction: column;
    width: 35rem;
    margin: 0 3rem;
  }
  
  .swiper-right {
    width: 35rem;
    margin: 0 3rem;
  }
  
  .slide-title {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  
  .slide-subtitle {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #666;
  }
  
  .slide-button {
    width: 20rem;
    border: 1px solid var(--main-red);
    color: var(--main-red);
    border-radius: 1rem;
    padding: 0.8rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 800px) {
  .swiper {
    width: 100%;
    height: 50rem;
  }
  
  .swiper-left {
    display: flex;
    flex-direction: column;
    width: 35rem;
    margin: 0 5rem;
  }
  
  .swiper-right {
    width: 35rem;
    margin: 0 5rem;
  }
  
  .slide-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  
  .slide-subtitle {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #666;
  }
  
  .slide-button {
    width: 26rem;
    border: 1px solid var(--main-red);
    color: var(--main-red);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
  }
}