/* nav */
@media screen and (max-width: 475px) {
  .loginhidden {
    display: none;
  }

  .main__navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 888;
    padding: 0 5%;
  }

  .main__navbar-flexbox {
    width: 100%;
  }

  main {
    padding: 5rem 0 0 0;
  }

  .main__navbar-list ul {
    position: fixed;
    top: 5rem;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .main__navbar a {
    font-weight: 800;
  }

  .main-bottom {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .main__left {
    text-align: left;
    width: 50%;
  }

  .main__logo {
    font-weight: 800;
    font-size: 2rem;
    color: var(--main-color);
    font-family: 'Galada', cursive;
  }

  .main__right {
    width: 50%;
    text-align: right;
    visibility: hidden;
  }

  .main__right ul {
    display: flex;
    align-items: center;
  }

  .main__right ul li {
    width: 100%;
  }

  .main__right .main__navbar-btn {
    visibility: visible;
  }
}

@media screen and (min-width: 475px) and (max-width: 1024px) { 
  .loginhidden {
    display: none;
  }

  .main__navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 888;
    padding: 0 5%;
  }

  .main__navbar-flexbox {
    width: 100%;
  }

  main {
    padding: 6rem 0 0 0;
  }

  .main__navbar-list ul {
    position: fixed;
    top: 6rem;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .main__navbar a {
    font-weight: 800;
  }

  .main-bottom {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .main__left {
    text-align: left;
    width: 50%;
  }

  .main__left .main__logo {
    font-weight: 800;
    font-size: 2.3rem;
    color: var(--main-color);
    font-family: 'Galada', cursive;
  }

  .main__right {
    width: 50%;
    text-align: right;
    visibility: hidden;
  }

  .main__right ul {
    display: flex;
    align-items: center;
  }

  .main__right ul li {
    width: 100%;
  }

  .main__navbar-btn {
    visibility: visible;
  }
}

@media screen and (min-width: 1024px) {
  .main__navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12%;
    z-index: 888;
  }

  .main__navbar-flexbox {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main__login-signup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .main__login-signup span {
    width: 1%;
    text-align: center;
  }

  .main__navbar a {
    font-weight: 500;
    line-height: 1.3em;
  }

  .main__navbar a:hover {
    color: var(--main-red);
    transition: 0.4s;
  }

  .main__left {
    width: 45%;
  }

  .main__left .main__logo {
    font-weight: 800;
    font-size: 3.4rem;
    color: var(--main-color);
    font-family: 'Galada', cursive;
  }

  .main-bottom {
    display: flex;
    align-items: center;
  }

  .main__right {
    width: 55%;
    font-size: 1.5rem;
  }

  .main__right ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .main__right ul li {
    text-align: center;
    line-height: 1.4rem;
    width: 100%;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
  }

  .main__user {
    color: var(--main-gray600);
    font-weight: 800;
  }

 .main__navbar-btn {
    display: none;
  }

  .main__navbar-list {
    display: none;
  }
}

.main__navbar {
  background: transparent;
}

.main__navbar-btn {
  cursor: pointer;
}

.main__navbar-list ul li {
  padding: 1.5rem 0;
  text-align: center;
  background: white;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 0.1rem solid lightgray;
}

.main__navbar-list ul li:hover{
  color: var(--main-color);
  transition: 0.2s;
}

.main__navbar-list .main__user {
  color: #3c3c3c;
}

/* footer */
footer {
  /* footer를 aside위에 올리기 위해 사용(부유객체) */
  position: absolute;
  height: 6rem;
  width: 100%;
  padding: 2rem 5rem;
  background-color: var(--main-color);
}

/* main swiper */
#slide1 {
  background: var(--main);
}

#slide2 {
  background: #ffd9d1;
}

#slide2 .slide-button {
  border: 1px solid #666;
  color: #666;
}

#slide3 {
  background: #ccf2f4;
}

#slide3 .slide-button {
  border: 1px solid #666;
  color: #666;
}

#slide4 {
  background: #ffe;
}

.swiper-left img,
.swiper-right img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .swiper {
    width: 100%;
    height: 30rem;
    padding: 0;
  }
  
  .swiper-left {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin: 0 1rem;
  }
  
  .swiper-right {
    width: 15rem;
    margin: 0 1rem;
  }
  
  .slide-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  
  .slide-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #666;
  }
  
  .slide-button {
    width: 13rem;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-size: 0.1rem;
    text-align: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .swiper {
    width: 100%;
    height: 45rem;
  }
  
  .swiper-left {
    display: flex;
    flex-direction: column;
    width: 35rem;
    margin: 0 3rem;
  }
  
  .swiper-right {
    width: 35rem;
    margin: 0 3rem;
  }
  
  .slide-title {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  
  .slide-subtitle {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #666;
  }
  
  .slide-button {
    width: 20rem;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 1rem;
    padding: 0.8rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 800px) {
  .swiper {
    width: 100%;
    height: 55rem;
  }
  
  .swiper-left {
    display: flex;
    flex-direction: column;
    width: 35rem;
    margin: 0 5rem;
  }
  
  .swiper-right {
    width: 35rem;
    margin: 0 5rem;
  }
  
  .slide-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  
  .slide-subtitle {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #666;
  }
  
  .slide-button {
    width: 26rem;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
  }
}

/* main ranking section - frame */

/* .per--pose--ranking, */
.per--frame--ranking{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.frame-ranking--grid{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking--grid--img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-ranking--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
}

@media screen and (max-width: 600px) {
  .main-ranking--container {
    padding: 0 15%;
    height: 26rem;
  }

  .frame-ranking--grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    row-gap: 1.5rem;
    column-gap: 0.5rem;
  }

  .ranking--grid--img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 14rem;
    background-color:rgb(247, 247, 247); 
    overflow: hidden;
  }

  .main--ranking--title{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .main-ranking--container {
    padding: 0 15%;
    height: 35rem;
  }

  .frame-ranking--grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    row-gap: 1.5rem;
    column-gap: 0.5rem;
  }

  .ranking--grid--img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 23rem;
    background-color:rgb(247, 247, 247); 
    overflow: hidden;
  }

  .main--ranking--title{
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .main-ranking--container {
    padding: 0 15%;
    height: 43rem;
  }

  .frame-ranking--grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    row-gap: 1.5rem;
    column-gap: 0.5rem;
  }

  .ranking--grid--img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 29rem;
    background-color:rgb(247, 247, 247); 
    overflow: hidden;
  }

  .main--ranking--title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-ranking--container {
    padding: 0 15%;
    height: 48rem;
  }

  .frame-ranking--grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    row-gap: 1.5rem;
    column-gap: 0.5rem;
  }

  .ranking--grid--img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35rem;
    background-color:rgb(247, 247, 247); 
    overflow: hidden;
  }

  .main--ranking--title{
    font-size: 2.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}


/* main page1 */
@media screen and (max-width: 600px) {
  .page1-container {
    padding: 4rem 15%;
  }

  .page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page1-title {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 1rem;
  }
  
  .page1-subtitle {
    font-size: 1.1rem;
    font-weight: 800;
    color: #666;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .page1-infos {
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .page1-info {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  
  .page1-box {
    background: #d9d9d9;
    border-radius: 8rem;
    width: 75%;
    height: 5.5rem;
    margin-bottom: 1rem;
  }
  
  .page1-box-left {
    margin-right: auto;
  }
  
  .page1-box-right {
    margin-left: auto;
  }
  
  .page1 img {
    width: 13rem;
    width: 13rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .page1-container {
    padding: 8rem 15%;
  }

  .page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page1-title {
    font-size: 3.2rem;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 2rem;
  }
  
  .page1-subtitle {
    font-size: 1.8rem;
    font-weight: 800;
    color: #666;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .page1-infos {
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .page1-info {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .page1-box {
    background: #d9d9d9;
    border-radius: 8rem;
    width: 80%;
    height: 10rem;
    margin-bottom: 2rem;
  }
  
  .page1-box-left {
    margin-right: auto;
  }
  
  .page1-box-right {
    margin-left: auto;
  }
  
  .page1 img {
    width: 24rem;
    width: 24rem;
  }
}

@media screen and (min-width: 1024px) {
  .page1-container {
    padding: 8rem 15%;
  }

  .page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page1-title {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 2rem;
  }
  
  .page1-subtitle {
    font-size: 2rem;
    font-weight: 800;
    color: #666;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .page1-infos {
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .page1-info {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .page1-box {
    background: #d9d9d9;
    border-radius: 8rem;
    width: 65%;
    height: 12rem;
    margin-bottom: 2rem;
  }
  
  .page1-box-left {
    margin-right: auto;
  }
  
  .page1-box-right {
    margin-left: auto;
  }
  
  .page1 img {
    width: 28rem;
    width: 28rem;
  }
}

.page1-container {
  background: white;
}

/* main page2 */
@media screen and (max-width: 600px) {
  .page2-container {
    padding: 4rem 15%;
    background: var(--main-background);
  }

  .page2__flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page2-left { 
    width: 50%;
    text-align: center;
    margin: 0 1rem;
  }

  .page2-title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .page2-info {
    font-weight: 800;
    font-size: 1rem;
    color: #666;
  }

  .page2-right {
    width: 50%;
    margin: 0 1rem;
    text-align: center;
  }

  .page2-right img{
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .page2-container {
    padding: 5rem 15%;
    background: var(--main-background);
  }

  .page2__flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page2-left { 
    width: 50%;
    text-align: center;
    margin: 0 1rem;
  }

  .page2-left .page2-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  .page2-left .page2-info {
    font-weight: 800;
    font-size: 1.5rem;
    color: #666;
  }

  .page2-right {
    width: 50%;
    margin: 0 1rem;
    text-align: center;
  }

  .page2-right img{
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .page2-container {
    padding: 10rem 15%;
    background: var(--main-background);
  }

  .page2__flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page2-left { 
    width: 50%;
    text-align: center;
    margin: 0 1rem;
  }

  .page2-left .page2-title {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  .page2-left .page2-info {
    font-weight: 800;
    font-size: 1.8rem;
    color: #666;
  }

  .page2-right {
    width: 50%;
    margin: 0 1rem;
    text-align: center;
  }
}

/* main page3 */
@media screen and (max-width: 600px) {
  .page3-container {
    padding: 4rem 15%;
    background: #C2DBFC;
  }

  .page3__flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page3-left { 
    width: 50%;
    text-align: center;
    margin: 0 1rem;
  }

  .page3-left img{
    width: 100%;
    height: 100%;
  }

  .page3-right {
    width: 50%;
    margin: 0 1rem;
    text-align: center;
  }

  .page3-title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: #425DBD;
  }

  .page3-info {
    font-weight: 800;
    font-size: 1rem;
    color: #666;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .page3-container {
    padding: 5rem 15%;
    background: #C2DBFC;
  }

  .page3__flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page3-left { 
    width: 50%;
    text-align: center;
    margin: 0 1rem;
  }
  
  .page3-left img{
    width: 100%;
    height: 100%;
  }

  .page3-right {
    width: 50%;
    margin: 0 1rem;
    text-align: center;
  }

  .page3-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: #425DBD;
  }

  .page3-info {
    font-weight: 800;
    font-size: 1.5rem;
    color: #666;
  }
}

@media screen and (min-width: 1024px) {
  .page3-container {
    padding: 10rem 15%;
    background: #C2DBFC;
  }

  .page3__flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page3-left { 
    width: 50%;
    text-align: center;
    margin: 0 1rem;
  }

  .page3-right {
    width: 50%;
    margin: 0 1rem;
    text-align: center;
  }

  .page3-title {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: #425DBD;
  }

  .page3-info {
    font-weight: 800;
    font-size: 1.8rem;
    color: #666;
  }
}

/* main page4 */
@media screen and (max-width: 600px) {
  .page4-container {
    padding: 4rem 15% 0 15%;
    background: #f6f6f6;
  }

  .page4__flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page4-title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .page4-info {
    font-weight: 800;
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
  }

  .page4-image {
    width: 100%;
    height: 12rem;
    background: lightgray;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .page4-container {
    padding: 10rem 15% 0 15%;
    background: #f6f6f6;
  }

  .page4__flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page4-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  .page4-info {
    font-weight: 800;
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
  }

  .page4-image {
    width: 100%;
    height: 30rem;
    background: lightgray;
  }
}

@media screen and (min-width: 1024px) {
  .page4-container {
    padding: 10rem 15% 0 15%;
    background: #f6f6f6;
  }

  .page4__flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page4-title {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  .page4-info {
    font-weight: 800;
    font-size: 1.8rem;
    color: #666;
    margin-bottom: 5rem;
  }

  .page4-image {
    width: 100%;
    height: 45rem;
    background: lightgray;
  }
}

/* main page5 */
@media screen and (max-width: 600px) {
  .page5-container {
    padding: 4rem 15%;
    background: #C1DEBE;
  }

  .page5__flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page5-left { 
    width: 50%;
    text-align: center;
    margin: 0 1rem;
  }

  .page5-title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: #048D43;
  }

  .page5-info {
    font-weight: 800;
    font-size: 1rem;
    color: #666;
  }

  .page5-right {
    width: 50%;
    margin: 0 1rem;
    text-align: center;
  }

  .page5-right img{
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .page5-container {
    padding: 5rem 15%;
    background: #C1DEBE;
  }

  .page5__flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page5-left { 
    width: 50%;
    text-align: center;
    margin: 0 1rem;
  }

  .page5-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: #048D43;
  }

  .page5-info {
    font-weight: 800;
    font-size: 1.5rem;
    color: #666;
  }

  .page5-right {
    width: 50%;
    margin: 0 1rem;
    text-align: center;
  }

  .page5-right img{
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .page5-container {
    padding: 10rem 15%;
    background: #C1DEBE;
  }

  .page5__flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page5-left { 
    width: 50%;
    text-align: center;
    margin: 0 1rem;
  }

  .page5-title {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: #048D43;
  }

  .page5-info {
    font-weight: 800;
    font-size: 1.8rem;
    color: #666;
  }

  .page5-right {
    width: 50%;
    margin: 0 1rem;
    text-align: center;
  }
}

/* main page6 */
@media screen and (max-width: 600px) {
  .page6-container {
    padding: 4rem 15%;
    background: #FFFFEE;
  }

  .page6__flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page6-left { 
    width: 50%;
    text-align: center;
    margin: 0 1rem;
  }

  .page6-left img{
    width: 100%;
    height: 100%;
  }

  .page6-right {
    width: 50%;
    margin: 0 1rem;
    text-align: center;
  }

  .page6-title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .page6-info {
    font-weight: 800;
    font-size: 1rem;
    color: #666;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .page6-container {
    padding: 5rem 15%;
    background: #FFFFEE;
  }

  .page6__flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page6-left { 
    width: 50%;
    text-align: center;
    margin: 0 1rem;
  }
  
  .page6-left img{
    width: 100%;
    height: 100%;
  }

  .page6-right {
    width: 50%;
    margin: 0 1rem;
    text-align: center;
  }

  .page6-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  .page6-info {
    font-weight: 800;
    font-size: 1.5rem;
    color: #666;
  }
}

@media screen and (min-width: 1024px) {
  .page6-container {
    padding: 10rem 15%;
    background: #FFFFEE;
  }

  .page6__flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page6-left { 
    width: 50%;
    text-align: center;
    margin: 0 1rem;
  }

  .page6-right {
    width: 50%;
    margin: 0 1rem;
    text-align: center;
  }

  .page6-title {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  .page6-info {
    font-weight: 800;
    font-size: 1.8rem;
    color: #666;
  }
}