/* mypage */
@media screen and (max-width: 475px) {
  .mypage__container {
    margin: 0 5rem;
    height: 100vh;
    padding: 4rem 0;
  }

  .mypage__title {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 1rem 0;
    text-align: center;
  }

  .mypage__flexbox {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mypage__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }

  .mypage__profile {
    display: flex;
    align-items: center;
    position: relative;
  }

  .mypage__profile img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-bottom: 1em;
    object-fit: cover;
  }

  .mypage__left .mypage__profile-update {
    position: absolute;
    right: 0;
    bottom: 2rem;
    background: var(--main-color);
    border-radius: 50%;
    padding: 1.1rem 1.4rem;
    color: white;
    font-size: 1.6rem;
  }
  
  .mypage__left .mypage__btn-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }

  .mypage__left .mypage__btn {
    font-size: 1.3rem;
    font-weight: 800;
    border-radius: 0.5rem;
    background: white;
    color: var(--main-color);
    border: 1px solid var(--main-gray600);
    text-align: center;
    cursor: pointer;
    width: 12rem;
    height: 3.5rem;
    line-height: 3.5rem;
  }

  .mypage__left .mypage__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }

  .mypage__left .mypage__btn:last-child {
    margin-right: 0;
  }

  .mypage__storage-title {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .mypage__hr {
    background: var(--main-color);
    border-color: var(--main-color);
    margin: 1.5rem 0 3.5rem 0;
    height: 0.2rem;
  }

  .mypage__right .mypage__storage-box {
    display: flex;
    flex-direction: column;
  }

  .mypage__right .mypage__storage-box .mypage__storage {
    background: var(--main-background);
    margin-bottom: 2rem;
    height: 12rem;
  }

  .mypage__storage-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mypage__storage-flex div a {
    font-size: 1.2rem;
  }

  .mypage__storage-flex .arrow-icon {
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 475px) and (max-width: 1024px) {
  .mypage__container {
    margin: 0 7rem;
    height: 80vh;
    padding: 4rem 0;
  }

  .mypage__title {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 5rem;
  }

  .mypage__flexbox {
    display: flex;
  }

  .mypage__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mypage__profile {
    display: flex;
    align-items: center;
    position: relative;
  }

  .mypage__profile img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-bottom: 1em;
    object-fit: cover;
  }

  .mypage__left .mypage__profile-update {
    position: absolute;
    right: 0;
    bottom: 2rem;
    background: var(--main-color);
    border-radius: 50%;
    padding: 1.1rem 1.4rem;
    color: white;
    font-size: 1.6rem;
  }

  .mypage__left .mypage__btn {
    font-size: 1.4rem;
    font-weight: 800;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    background: white;
    color: var(--main-color);
    border: 1px solid var(--main-gray600);
    text-align: center;
    cursor: pointer;
    width: 15rem;
    height: 3.5rem;
    line-height: 3.5rem;
  }

  .mypage__left .mypage__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }

  .mypage__storage-title {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .mypage__hr {
    background: var(--main-color);
    border-color: var(--main-color);
    margin: 1rem 0 3rem 0;
    height: 0.2rem;
  }

  .mypage__right {
    width: 70%;
    margin-left: 5rem;
  }

  .mypage__right .mypage__storage-box {
    display: flex;
    height: 90%;
  }

  .mypage__right .mypage__storage-box .mypage__storage {
    background: var(--main-background);
    width: 50%;
    margin-right: 3rem;
    margin-bottom: 2rem;
  }

  .mypage__right .mypage__storage-box .mypage__storage:last-child {
    margin-right: 0;
  }

  .mypage__storage-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mypage__storage-flex div a {
    font-size: 1.3rem;
  }

  .mypage__storage-flex .arrow-icon {
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .mypage__container {
    margin: 0 12rem;
    height: 80vh;
    padding: 4rem 0;
  }

  .mypage__title {
    font-size: 2.6rem;
    font-weight: 800;
    margin: 2rem 0 5rem 0;
  }

  .mypage__flexbox {
    display: flex;
  }

  .mypage__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mypage__profile {
    display: flex;
    align-items: center;
    position: relative;
  }

  .mypage__profile img {
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    margin-bottom: 3rem;
    object-fit: cover;
  }

  .mypage__left .mypage__profile-update {
    position: absolute;
    right: 1rem;
    bottom: 3rem;
    background: var(--main-color);
    border-radius: 50%;
    padding: 1.3rem 1.7rem;
    color: white;
    font-size: 1.8rem;
  }

  .mypage__left .mypage__btn {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    background: white;
    color: var(--main-color);
    border: 1px solid var(--main-gray600);
    text-align: center;
    cursor: pointer;
    width: 17rem;
    height: 4rem;
    line-height: 4rem;
  }

  .mypage__left .mypage__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }

  .mypage__storage-title {
    font-size: 1.7rem;
    font-weight: 800;
  }

  .mypage__hr {
    background: var(--main-color);
    border-color: var(--main-color);
    margin: 1.5rem 0 3.5rem 0;
    height: 0.2rem;
  }

  .mypage__right {
    width: 70%;
    margin-left: 5rem;
  }

  .mypage__right .mypage__storage-box {
    display: flex;
    height: 90%;
  }

  .mypage__right .mypage__storage-box .mypage__storage {
    background: var(--main-background);
    width: 50%;
    margin-right: 3rem;
    margin-bottom: 2rem;
  }

  .mypage__right .mypage__storage-box .mypage__storage:last-child {
    margin-right: 0;
  }

  .mypage__storage-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mypage__storage-flex div a {
    font-size: 1.5rem;
  }

  .mypage__storage-flex .arrow-icon {
    margin-top: 0.5rem;
  }
}

/* 회원 정보 수정 */
@media screen and (max-width: 480px) {
  .userupdate-form {
    width: 30rem;
    margin: 4rem auto;
    padding: 5rem 0;
  }

  .userupdate-form .userupdate__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .userupdate-form .userupdate__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .userupdate-form .userupdate__hr-bottom {
    background-color: var(--main-color);
    height: 0.15rem;
    margin: 2rem 0;
  }

  .userupdate__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0 3rem 0;
  }

  .userupdate__info p label {
    display: inline-block;
    text-align: right;
    line-height: 1.4rem;
    width: 5rem;
    margin: 0 1rem 1.5rem 0;
    font-size: 1.2rem;
  }

  .userupdate__info p input {
    width: 22rem;
    height: 3.8rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }

  .userupdate__info #id_password,
  .userupdate__info .helptext {
    display: none;
  }

  .userupdate__btn-box {
    text-align: center;
    margin: 2rem 0 4rem 0;
  }

  .userupdate__btn {
    background: white;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    color: var(--main-color);
    width: 8rem;
    height: 3rem;
    font-size: 1.2rem;
  }

  .userupdate__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }

  .userupdate__pw-udpate {
    text-align: center;
    font-size: 1.2rem;
  }

  .userupdate__pw-udpate a {
    text-decoration: underline;
    text-underline-position: under;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .userupdate-form {
    width: 40rem;
    margin: 5rem auto;
    padding: 5rem 0;
  }

  .userupdate-form .userupdate__title {
    font-size: 2.3rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .userupdate-form .userupdate__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .userupdate-form .userupdate__hr-bottom {
    background-color: var(--main-color);
    height: 0.15rem;
    margin: 2rem 0;
  }

  .userupdate__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0 3.5rem 0;
  }

  .userupdate__info p label {
    display: inline-block;
    text-align: right;
    line-height: 1.4rem;
    width: 6rem;
    margin: 0 1rem 1.5rem 0;
    font-size: 1.5rem;
  }

  .userupdate__info p input {
    width: 27rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }

  .userupdate__info #id_password,
  .userupdate__info .helptext {
    display: none;
  }

  .userupdate__btn-box {
    text-align: center;
    margin: 2rem 0 4rem 0;
  }

  .userupdate__btn {
    background: white;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    color: var(--main-color);
    width: 12rem;
    height: 3.6rem;
    font-size: 1.5rem;
  }

  .userupdate__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }

  .userupdate__pw-udpate {
    text-align: center;
    font-size: 1.3rem;
  }

  .userupdate__pw-udpate a {
    text-decoration: underline;
    text-underline-position: under;
  }
}

@media screen and (min-width: 1024px) {
  .userupdate-form {
    width: 50rem;
    margin: 5rem auto;
    padding: 5rem 0;
  }

  .userupdate-form .userupdate__title {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .userupdate-form .userupdate__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .userupdate-form .userupdate__hr-bottom {
    background-color: var(--main-color);
    height: 0.15rem;
    margin: 2rem 0;
  }

  .userupdate__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0 3.5rem 0;
  }

  .userupdate__info p label {
    display: inline-block;
    text-align: right;
    line-height: 1.4rem;
    width: 6rem;
    margin: 0 1rem 1.5rem 0;
    font-size: 1.5rem;
  }

  .userupdate__info p input {
    width: 30rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }

  .userupdate__info #id_password,
  .userupdate__info .helptext {
    display: none;
  }

  .userupdate__btn-box {
    text-align: center;
    margin: 2rem 0 4rem 0;
  }

  .userupdate__btn {
    background: white;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    color: var(--main-color);
    width: 13rem;
    height: 3.6rem;
    font-size: 1.5rem;
  }

  .userupdate__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }

  .userupdate__pw-udpate {
    text-align: center;
    font-size: 1.3rem;
  }

  .userupdate__pw-udpate a {
    text-decoration: underline;
    text-underline-position: under;
  }
}

/* 프로필 사진 수정 */
@media screen and (max-width: 480px) {
  .profileupdate-form {
    width: 30rem;
    margin: 5rem auto;
    padding: 5rem 0;
    text-align: center;
  }
  
  .profileupdate__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .profileupdate__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0;
  }

  .profileupdate-form img {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    margin: 1rem 0 2rem 0;
    object-fit: cover;
  }

  .profileupdate-form p {
    font-size: 1.2rem;
  }

  .profileupdate__btn-box {
    text-align: center;
    margin: 3rem 0;
  }

  .profileupdate__btn {
    background: white;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    width: 12rem;
    height: 3.4rem;
    font-size: 1.2rem;
  }

  .profileupdate__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .profileupdate-form {
    width: 40rem;
    margin: 5rem auto;
    padding: 5rem 0;
    text-align: center;
  }
  
  .profileupdate__title {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .profileupdate__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0;
  }

  .profileupdate-form img {
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    margin: 1rem 0 2rem 0;
    object-fit: cover;
  }

  .profileupdate-form p {
    font-size: 1.4rem;
  }

  .profileupdate__btn-box {
    text-align: center;
    margin: 3rem 0;
  }

  .profileupdate__btn {
    background: white;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    width: 12rem;
    height: 3.4rem;
    font-size: 1.4rem;
  }

  .profileupdate__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}

@media screen and (min-width: 1024px) {
  .profileupdate-form {
    width: 50rem;
    margin: 5rem auto;
    padding: 5rem 0;
    text-align: center;
  }
  
  .profileupdate__title {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .profileupdate__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0;
  }

  .profileupdate-form img {
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    margin: 1rem 0 2rem 0;
    object-fit: cover;
  }

  .profileupdate-form p {
    font-size: 1.6rem;
  }

  .profileupdate__btn-box {
    text-align: center;
    margin: 3rem 0;
  }

  .profileupdate__btn {
    background: white;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    width: 14rem;
    height: 3.5rem;
    font-size: 1.6rem;
  }

  .profileupdate__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}

/* 비밀번호 변경 */
@media screen and (max-width: 480px) {
  .changepw-form {
    width: 33rem;
    margin: 5rem auto;
    padding: 5rem 1rem;
    text-align: center;
  }

  .changepw-form .changepw__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .changepw__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .changepw-form p label {
    display: inline-block;
    width: 11.5rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    text-align: right;
  }

  .changepw-form p input {
    width: 17rem;
    height: 3.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1.4rem;
    padding: 1rem;
  }

  .changepw-form ul {
    display: none;
  }

  .changepw__btn-box {
    text-align: center;
    margin: 4rem 0;
  }

  .changepw__btn {
    background: white;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    width: 10rem;
    height: 3.2rem;
  }

  .changepw__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .changepw-form {
    width: 40rem;
    margin: 5rem auto;
    padding: 5rem 1rem;
    text-align: center;
  }

  .changepw-form .changepw__title {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .changepw__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .changepw-form p label {
    display: inline-block;
    width: 13rem;
    margin-right: 1rem;
    font-size: 1.4rem;
    text-align: right;
  }

  .changepw-form p input {
    width: 23rem;
    height: 4rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1.4rem;
    padding: 1rem;
  }

  .changepw-form ul {
    display: none;
  }

  .changepw__btn-box {
    text-align: center;
    margin: 4rem 0;
  }

  .changepw__btn {
    background: white;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    font-size: 1.4rem;
    width: 12rem;
    height: 3.5rem;
  }

  .changepw__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}

@media screen and (min-width: 1024px) {
  .changepw-form {
    width: 50rem;
    margin: 5rem auto;
    padding: 5rem 1rem;
    text-align: center;
  }

  .changepw-form .changepw__title {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .changepw__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .changepw-form p label {
    display: inline-block;
    width: 14rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    text-align: right;
  }

  .changepw-form p input {
    width: 27rem;
    height: 4rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1.4rem;
    padding: 1rem;
  }

  .changepw-form ul {
    display: none;
  }

  .changepw__btn-box {
    text-align: center;
    margin: 5rem 0 4rem 0;
  }

  .changepw__btn {
    background: white;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    width: 12rem;
    height: 3.5rem;
  }

  .changepw__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}

/* 회원 탈퇴 */
@media screen and (max-width: 480px) {
  .deleteuser-form {
    width: 30rem;
    margin: 1rem auto;
    text-align: center;
    padding: 10rem 0;
  }

  .deleteuser-form .deleteuser__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .deleteuser__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .deleteuser__info {
    padding: 1rem 0;
  }

  .deleteuser__info div {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .deleteuser__info .label_password {
    display: inline-block;
    text-align: right;
    line-height: 1.8rem;
    width: 5rem;
    margin-right: 1rem;
    font-size: 1.1rem;
  }

  .deleteuser__info #id_password {
    width: 22rem;
    height: 3.6rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  .deleteuser__info .login--input {
    margin-top: 2.5rem;
  }

  .deleteuser__btn-box {
    text-align: center;
    margin: 3rem 0 1rem 0;
  }

  .deleteuser__btn {
    background: white;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    padding: 0.6rem 0;
    font-size: 1.2rem;
    width: 10rem;
  }

  .deleteuser__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .deleteuser-form {
    width: 40rem;
    margin: 1rem auto;
    text-align: center;
    padding: 10rem 0;
  }

  .deleteuser-form .deleteuser__title {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .deleteuser__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .deleteuser__info {
    padding: 3rem 0;
  }

  .deleteuser__info div {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .deleteuser__info .label_password {
    display: inline-block;
    text-align: right;
    line-height: 1.8rem;
    width: 6rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }

  .deleteuser__info #id_password {
    width: 25rem;
    height: 3.6rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  .deleteuser__info .login--input {
    margin-top: 2.5rem;
  }

  .deleteuser__btn-box {
    text-align: center;
    margin: 4rem 0 1rem 0;
  }

  .deleteuser__btn {
    background: white;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    padding: 0.6rem 1.7rem;
    font-size: 1.4rem;
    width: 12rem;
  }

  .deleteuser__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}

@media screen and (min-width: 1024px) {
  .deleteuser-form {
    width: 50rem;
    margin: 1rem auto;
    text-align: center;
    padding: 10rem 0;
  }

  .deleteuser-form .deleteuser__title {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .deleteuser__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .deleteuser__info {
    padding: 3rem 0;
  }

  .deleteuser__info div {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  .deleteuser__info .label_password {
    display: inline-block;
    text-align: right;
    line-height: 1.8rem;
    width: 6rem;
    margin-right: 1.5rem;
    font-size: 1.5rem;
  }

  .deleteuser__info #id_password {
    width: 25rem;
    height: 3.8rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  .deleteuser__info .login--input {
    margin-top: 2.5rem;
  }

  .deleteuser__btn-box {
    text-align: center;
    margin: 4rem 0 1rem 0;
  }

  .deleteuser__btn {
    background: white;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    padding: 0.6rem 1.7rem;
    font-size: 1.5rem;
    width: 14rem;
  }

  .deleteuser__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}

/* 저장목록 */
@media screen and (max-width: 600px) { 
  .mypagedetail__container {
    margin: 4rem 10%;
  }

  .mypagedetail__title {
    font-weight: 800;
    font-size: 2.1rem;
    color: var(--main-color);
    margin: 1rem 0;
    padding: 0 2rem;
  }

  .mypagedetail__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin-bottom: 4rem;
  }

  .mypagedeatil__grid-box {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 1rem;
  }

  .mypagedetail__grid-img {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 14rem;
    overflow: hidden;
  }

  .mypagedetail__grid-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) { 
  .mypagedetail__container {
    margin: 4rem 10%;
  }

  .mypagedetail__title {
    font-weight: 800;
    font-size: 2.1rem;
    color: var(--main-color);
    margin: 1rem 0;
    padding: 0 2rem;
  }

  .mypagedetail__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin-bottom: 4rem;
  }

  .mypagedeatil__grid-box {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 2rem;
  }

  .mypagedetail__grid-img {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 22rem;
    overflow: hidden;
  }

  .mypagedetail__grid-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (min-width: 1024px) {
  .mypagedetail__container {
    margin: 4rem 10%;
  }

  .mypagedetail__title {
    font-weight: 800;
    font-size: 2.1rem;
    color: var(--main-color);
    margin: 1rem 0;
    padding: 0 2rem;
  }

  .mypagedetail__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin-bottom: 4rem;
  }

  .mypagedeatil__grid-box {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 2rem;
  }

  .mypagedetail__grid-img {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 28rem;
    overflow: hidden;
  }

  .mypagedetail__grid-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}