/* mypage */
@media screen and (max-width: 475px) {
  .mypage__container {
    margin: 0 5rem;
    height: 100vh;
    padding: 4rem 0;
  }

  .mypage__title {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 1rem 0;
    text-align: center;
  }

  .mypage__flexbox {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mypage__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .mypage__profile {
    display: flex;
    align-items: center;
    position: relative;
  }

  .mypage__profile img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-bottom: 1em;
  }

  .mypage__left .mypage__profile-update {
    position: absolute;
    right: 0;
    bottom: 2rem;
    background: var(--main-red);
    border-radius: 50%;
    padding: 1.1rem 1.4rem;
    color: white;
    font-size: 1.6rem;
  }
  
  .mypage__left .mypage__btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }

  .mypage__left .mypage__btn {
    font-size: 1.4rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    padding: 1rem 1.2rem;
    background: var(--main-red);
    color: white;
    text-align: center;
    cursor: pointer;
    width: 15rem;
  }

  .mypage__left .mypage__btn:last-child {
    margin-right: 0;
  }

  .mypage__storage-title {
    font-size: 1.7rem;
  }

  .mypage__hr {
    background: var(--main-red);
    border-color: var(--main-red);
    margin: 1.5rem 0 3.5rem 0;
    height: 0.15rem;
  }

  .mypage__right .mypage__storage-box {
    display: flex;
    flex-direction: column;
  }

  .mypage__right .mypage__storage-box .mypage__storage {
    background: var(--main-background);
    margin-bottom: 2rem;
    height: 12rem;
  }
}

@media screen and (min-width: 475px) and (max-width: 1024px) {
  .mypage__container {
    margin: 0 7rem;
    height: 80vh;
    padding: 4rem 0;
  }

  .mypage__title {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 5rem;
  }

  .mypage__flexbox {
    display: flex;
  }

  .mypage__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mypage__profile {
    display: flex;
    align-items: center;
    position: relative;
  }

  .mypage__profile img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-bottom: 1em;
  }

  .mypage__left .mypage__profile-update {
    position: absolute;
    right: 0;
    bottom: 2rem;
    background: var(--main-red);
    border-radius: 50%;
    padding: 1.1rem 1.4rem;
    color: white;
    font-size: 1.6rem;
  }

  .mypage__left .mypage__btn {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border-radius: 1.2rem;
    padding: 0.8rem 1.2rem;
    background: var(--main-red);
    color: white;
    text-align: center;
    cursor: pointer;
    width: 15rem;
  }

  .mypage__storage-title {
    font-size: 1.5rem;
  }

  .mypage__hr {
    background: var(--main-red);
    border-color: var(--main-red);
    margin: 1rem 0 3rem 0;
    height: 0.15rem;
  }

  .mypage__right {
    width: 70%;
    margin-left: 5rem;
  }

  .mypage__right .mypage__storage-box {
    display: flex;
    height: 90%;
  }

  .mypage__right .mypage__storage-box .mypage__storage {
    background: var(--main-background);
    width: 50%;
    margin-right: 3rem;
    margin-bottom: 2rem;
  }

  .mypage__right .mypage__storage-box .mypage__storage:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .mypage__container {
    margin: 0 12rem;
    height: 80vh;
    padding: 4rem 0;
  }

  .mypage__title {
    font-size: 2rem;
    font-weight: 800;
    margin: 2rem 0 5rem 0;
  }

  .mypage__flexbox {
    display: flex;
  }

  .mypage__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mypage__profile {
    display: flex;
    align-items: center;
    position: relative;
  }

  .mypage__profile img {
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    margin-bottom: 1em;
  }

  .mypage__left .mypage__profile-update {
    position: absolute;
    right: 1rem;
    bottom: 3rem;
    background: var(--main-red);
    border-radius: 50%;
    padding: 1.3rem 1.7rem;
    color: white;
    font-size: 1.8rem;
  }

  .mypage__left .mypage__btn {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border-radius: 1.2rem;
    padding: 0.8rem 1.2rem;
    background: var(--main-red);
    color: white;
    text-align: center;
    cursor: pointer;
    width: 15rem;
  }

  .mypage__storage-title {
    font-size: 1.7rem;
  }

  .mypage__hr {
    background: var(--main-red);
    border-color: var(--main-red);
    margin: 1.5rem 0 3.5rem 0;
    height: 0.15rem;
  }

  .mypage__right {
    width: 70%;
    margin-left: 5rem;
  }

  .mypage__right .mypage__storage-box {
    display: flex;
    height: 90%;
  }

  .mypage__right .mypage__storage-box .mypage__storage {
    background: var(--main-background);
    width: 50%;
    margin-right: 3rem;
    margin-bottom: 2rem;
  }

  .mypage__right .mypage__storage-box .mypage__storage:last-child {
    margin-right: 0;
  }
}

/* 회원 정보 수정 */
@media screen and (max-width: 480px) {
  .userupdate-form {
    width: 30rem;
    margin: 1rem auto;
    padding: 5rem 0;
  }

  .userupdate-form .userupdate__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .userupdate-form .userupdate__hr {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0 4rem 0;
  }

  .userupdate-form .userupdate__hr-bottom {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0;
  }

  .userupdate__info p label {
    display: inline-block;
    text-align: center;
    line-height: 1.4rem;
    width: 6rem;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.3rem;
  }

  .userupdate__info p input {
    width: 20rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-background);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .userupdate__info #id_password,
  .userupdate__info .helptext {
    display: none;
  }

  .userupdate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .userupdate__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }

  .userupdate__pw-udpate {
    text-align: center;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .userupdate-form {
    width: 35rem;
    margin: 1rem auto;
    padding: 5rem 0;
  }

  .userupdate-form .userupdate__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .userupdate-form .userupdate__hr {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0 4rem 0;
  }

  .userupdate-form .userupdate__hr-bottom {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0;
  }


  .userupdate__info p label {
    display: inline-block;
    text-align: center;
    line-height: 1.4rem;
    width: 6rem;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.3rem;
  }

  .userupdate__info p input {
    width: 25rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-background);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .userupdate__info #id_password,
  .userupdate__info .helptext {
    display: none;
  }

  .userupdate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .userupdate__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }

  .userupdate__pw-udpate {
    text-align: center;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .userupdate-form {
    width: 45rem;
    margin: 1rem auto;
    padding: 5rem 0;
  }

  .userupdate-form .userupdate__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .userupdate-form .userupdate__hr {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0 4rem 0;
  }

  .userupdate-form .userupdate__hr-bottom {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0;
  }

  .userupdate__info p label {
    display: inline-block;
    text-align: center;
    line-height: 1.4rem;
    width: 6rem;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 1.3rem;
  }

  .userupdate__info p input {
    width: 30rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-background);
    margin-bottom: 1.5rem;
    padding: 1rem;
  }

  .userupdate__info #id_password,
  .userupdate__info .helptext {
    display: none;
  }

  .userupdate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .userupdate__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }

  .userupdate__pw-udpate {
    text-align: center;
    font-size: 1.2rem;
  }
}

/* 프로필 사진 수정 */
@media screen and (max-width: 480px) {
  .profileupdate-form {
    width: 30rem;
    margin: 1rem auto;
    padding: 5rem 0;
    text-align: center;
  }
  
  .profileupdate__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .profileupdate__hr {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0 2rem 0;
  }

  .profileupdate__subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .profileupdate-form img {
    width: 22rem;
    height: 22rem;
  }

  .profileupdate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .profileupdate__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .profileupdate-form {
    width: 45rem;
    margin: 1rem auto;
    padding: 5rem 0;
    text-align: center;
  }
  
  .profileupdate__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .profileupdate__hr {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0 2rem 0;
  }

  .profileupdate__subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .profileupdate-form img {
    width: 25rem;
    height: 25rem;
  }

  .profileupdate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .profileupdate__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .profileupdate-form {
    width: 50rem;
    margin: 1rem auto;
    padding: 5rem 0;
    text-align: center;
  }
  
  .profileupdate__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .profileupdate__hr {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0 2rem 0;
  }

  .profileupdate__subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .profileupdate-form img {
    width: 28rem;
    height: 28rem;
  }

  .profileupdate__btn-box {
    text-align: center;
    margin: 2rem 0;
  }

  .profileupdate__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }
}

/* 비밀번호 변경 */
@media screen and (max-width: 480px) {
  .changepw-form {
    width: 30rem;
    margin: 1rem auto;
    padding: 5rem 1rem;
  }

  .changepw-form .changepw__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .changepw__hr {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0 4rem 0;
  }

  .changepw-form p label {
    display: inline-block;
    line-height: 1.5rem;
    width: 9rem;
    margin-right: 1.5rem;
    font-size: 1.3rem;
  }

  .changepw-form p input {
    width: 17rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-background);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .changepw-form ul {
    display: none;
  }

  .changepw__btn-box {
    text-align: center;
    margin-top: 5rem;
  }

  .changepw__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .changepw-form {
    width: 40rem;
    margin: 1rem auto;
    padding: 5rem 1rem;
  }

  .changepw-form .changepw__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .changepw__hr {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0 4rem 0;
  }

  .changepw-form p label {
    display: inline-block;
    line-height: 1.5rem;
    width: 9rem;
    margin-right: 1.5rem;
    font-size: 1.3rem;
  }

  .changepw-form p input {
    width: 25rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-background);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .changepw-form ul {
    display: none;
  }

  .changepw__btn-box {
    text-align: center;
    margin-top: 5rem;
  }

  .changepw__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .changepw-form {
    width: 45rem;
    margin: 1rem auto;
    padding: 5rem 1rem;
  }

  .changepw-form .changepw__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .changepw__hr {
    background-color: var(--main-red);
    height: 0.15rem;
    margin: 2rem 0 4rem 0;
  }

  .changepw-form p label {
    display: inline-block;
    line-height: 1.5rem;
    width: 9rem;
    margin-right: 1.5rem;
    font-size: 1.3rem;
  }

  .changepw-form p input {
    width: 30rem;
    height: 3.2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-background);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .changepw-form ul {
    display: none;
  }

  .changepw__btn-box {
    text-align: center;
    margin-top: 5rem;
  }

  .changepw__btn {
    background: var(--main-red);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.6rem 1.7rem;
  }
}