@media screen and (max-width: 480px) {
  .signup-form {
    width: 34rem;
    margin: 1rem auto;
    text-align: center;
    padding: 5rem 0;
  }

  .signup-form .signup__title {
    font-size: 2.1rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .signup__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .signup__info div span {
    display: inline-block;
    text-align: center;
    width: 8rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    text-align: right;
  }

  .signup__info div input {
    width: 22rem;
    height: 3.5rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1.4rem;
    padding: 1rem;
  }

  .signup__info div input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }

  /* .signup__btn-box {
    text-align: center;
    margin: 2rem 0;
  } */

  .signup__btn {
    background: white;
    width: 10rem;
    height: 3.5rem;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    padding: 0.6rem 1.7rem;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .signup__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }

  #signup-error {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .signup-form {
    width: 40rem;
    margin: 1rem auto;
    text-align: center;
    padding: 5rem 0;
  }

  .signup-form .signup__title {
    font-size: 2.1rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .signup__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .signup__info div span {
    display: inline-block;
    text-align: center;
    line-height: 1.4rem;
    width: 9rem;
    margin-right: 1rem;
    font-size: 1.4rem;
    text-align: right;
  }

  .signup__info div input {
    width: 20rem;
    height: 3.8rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1.4rem;
    padding: 1rem;
  }

  .signup__info div input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }

  /* .signup__btn-box {
    text-align: center;
    margin: 2rem 0;
  } */

  .signup__btn {
    background: white;
    width: 12rem;
    height: 3.5rem;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    padding: 0.6rem 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
  }

  .signup__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }

  #signup-error {
    font-size: 1.3rem;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .signup-form {
    width: 50rem;
    margin: 1rem auto;
    text-align: center;
    padding: 5rem 0;
  }

  .signup-form .signup__title {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .signup__hr {
    background-color: var(--main-color);
    height: 0.2rem;
    margin: 2rem 0 4rem 0;
  }

  .signup__info div span {
    display: inline-block;
    text-align: center;
    line-height: 1.4rem;
    width: 9rem;
    margin-right: 1rem;
    font-size: 1.4rem;
    text-align: right;
  }

  .signup__info div input {
    width: 25rem;
    height: 3.8rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--main-gray400);
    background-color: white;
    margin-bottom: 1.4rem;
    padding: 1rem;
  }

  .signup__info div input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }

  /* .signup__btn-box {
    text-align: center;
    margin: 2rem 0;
  } */

  .signup__btn {
    background: white;
    width: 12rem;
    height: 3.5rem;
    border: 1px solid var(--main-gray600);
    border-radius: 0.5rem;
    padding: 0.6rem 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
  }

  .signup__btn:hover {
    background: var(--main-color);
    color: white;
    transition: 0.2s;
  }

  #signup-error {
    font-size: 1.4rem;
    margin: 1rem 0;
  }
}

