{% extends 'users/main.html' %} {% block content %} {% load static %}
<main>
  <form action="/create" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="recommendcreate-form">
      <div class="recommendcreate__title">포즈/컨셉 추천 글 작성</div>
      <div class="recommendcreate__hr"></div>
      <div class="recommendcreate__info">
        <div><span>제목</span><input type="text" name="title" /></div>
        <div><span>사진</span><input type="file" name="recImage" /></div>
        <div><span>키워드</span>{% for keywordinfo in keywordinfo %}
          <input
            type="checkbox"
            name="{{forloop.counter}}"
            value="{{forloop.counter}}"
            id="keywordid{{forloop.counter}}"
          /><label for="keywordid{{forloop.counter}}">{{keywordinfo.name}}</label>
          {% endfor %}
        </div>
        <div><span>설명</span><textarea name="content" id="" cols="30" rows="10"></textarea></div>
        <div class="recommendcreate__btn-box">
          <input type="submit" value="글 작성" class="recommendcreate__btn"/>
        </div>
      </div>
      <div class="recommendcreate__hr"></div>
    </div>
  </form>
</main>
{% endblock content %}
