{% extends 'users/main.html' %} {% block content %} {% load static %}
<main>
  <form action="/create" method="POST" enctype="multipart/form-data">
    <h2>제목 <input type="text" name="title" /></h2>
    {% csrf_token %}
    <p>사진 <input type="file" name="recImage" /></p>
    <p>
      키워드 {% for keywordinfo in keywordinfo %}
      <input
        type="checkbox"
        name="{{forloop.counter}}"
        value="{{forloop.counter}}"
        id="keywordid{{forloop.counter}}"
      /><label for="keywordid{{forloop.counter}}">{{keywordinfo.name}}</label>
      {% endfor %}
    </p>
    <p>설명<textarea name="content" id="" cols="30" rows="10"></textarea></p>
    <div>
      <input type="submit" value="글 작성" />
    </div>
  </form>
</main>
{% endblock content %}
