{% extends 'users/main.html' %} {% block content %} {% load static %}
<form action="/update/{{recommend.id}}" method="post">
  <h1>업데이트 페이지</h1>
  {% csrf_token %}
  <h2>
    제목:
    <input
      type="text"
      name="title"
      placeholder="제목"
      value="{{recommend.title}}"
    />
  </h2>
  <p>
    키워드
    {% for keywordinfo in keywordinfo %}
      {% if keywordinfo in recommend.recKeyword.all %}
        <input
          type="checkbox"
          name="{{forloop.counter}}"
          value="{{forloop.counter}}"
          id="keywordid{{forloop.counter}}"
          checked="checked"
        /><label for="keywordid{{forloop.counter}}">{{keywordinfo.name}}</label>
      {% else %}
        <input
          type="checkbox"
          name="{{forloop.counter}}"
          value="{{forloop.counter}}"
          id="keywordid{{forloop.counter}}"
        /><label for="keywordid{{forloop.counter}}">{{keywordinfo.name}}</label>
      {% endif %}
    {% endfor %}
  </p>
  <p>
    설명:
    <textarea name="content" id="" cols="30" rows="10">
        {{recommend.content}}</textarea
    >
  </p>
  <div>
    <input type="submit" value="Save" />
  </div>
</form>
{% endblock content %}
