{% extends 'users/main.html' %} {% block content %} {% load static %}
<main>
  <div class="recommend__container">
    <div class="recommend__flex-box">
      <div class="recommend__left">
        <div class="recommend__title">포즈/컨셉 추천</div>
        <a href="{% url 'recommends:rec_create' %}"><div class="recommend__create"><i class="fa-solid fa-circle-plus"></i></div></a>
      </div>
      <div class="recommend__right">
        <form action="{% url 'recommends:recommend_list' %}">
          <div class="recommend__search">
            <input type="search" name="title" placeholder="포즈 또는 컨셉 찾기" />
            <img src="{% static 'image/glass.svg' %}" class="glass__icon">
          </div>
        </form>
      </div>
    </div>
    
    <div>
      <form action="{% url 'recommends:recommend_list' %}">
        <button name="sortkeyword" value="None">#HOME</button>
        {% for keywordinfo in keywordinfo  %}
        {% if  querykeyword == keywordinfo.id %}
      <button name="sortkeyword" value="{{keywordinfo.id}}" style="background-color: black;">#{{keywordinfo.name}}</button>
      {% else %}
      <button name="sortkeyword" value="{{keywordinfo.id}}">#{{keywordinfo.name}}</button>
      {% endif%}
      {% endfor%}
    </form>
    
    <div class="recommend__grid__section">
      <div class="recommend__box grid__box">
        {% for recommend in recommends %}
        <div class="recommend__one-box grid__one-box">
          {% if recommend.recImage %}
          <div class="recommend__img grid__img">
            <img src="{{ recommend.recImage.url }}" />
          </div>
          {% endif %}
          <div class="recommend__recommendtitle">
            <a href="{% url 'recommends:rec_detail' recommend.id %}">{{recommend.title}}</a>
          </div>
          {{recommend.postUser}}
          {% for keyword in recommend.recKeyword.all %}
            #{{keyword.name}} 
          {% endfor %}
          {{recommend.content}}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock content %}
