{% extends 'users/main.html' %} {% block content %}
{% load static %}
<main>
  <div class="frame__container">
    <div class="frame__flex-box">
      <div class="frame__left">
        <div class="frame__title">인생네컷 프레임 공유</div>
        <a href="/framecreate"><div class="frame__create"><i class="fa-solid fa-circle-plus"></i></div></a>
      </div>
      <div class="frame__right">
        <div class="frame__sort">
          <form action="{% url 'framesharings:frame' %}" >
            <select name="sort" onchange="this.form.submit()">
              <option selected="selected"  value="none">정렬기준</option>
              <option value="1">인기순</option>
              <option value="2">최신순</option>
            </select>
          </form>
          </div>
        <div class="frame__search">
          <form action="{% url 'framesharings:frame' %}">
            <input type="search" name="title" placeholder="프레임 검색" />
						<img src="{% static 'image/glass.svg' %}" class="glass__icon">
          </form>
        </div>
      </div>
    </div>

    <div>
      <form action="{% url 'framesharings:frame' %}">
        {% for keywordinfo in keywordinfo  %}
        {% if querykeyword == keywordinfo.id %}
        <button name="sortkeyword" value="{{keywordinfo.id}}" style="background-color: black;">#{{keywordinfo.name}}</button>
        {% else %}
        <button name="sortkeyword" value="{{keywordinfo.id}}">{{keywordinfo.name}}</button>
        {% endif%}
        {% endfor%}
      </form>
    </div>

    <div class="ranking__grid__section">
      <div class="ranking__box grid__box">
        {% for frameweekinfo in frameweekinfo %} {% if frameweekinfo.framepublic %} 
        {% if frameweekinfo.framephoto %}
        <div class="ranking__one-box grid__one-box">
          <h1>{{forloop.counter}}등</h1>
          <div class="img-box">
            <div class="grid__img">
              <a href="{%url 'framesharings:framedetail' frameweekinfo.id %}">
                <img src="{{ frameweekinfo.framephoto.url }}" alt="프레임사진"/>
              </a>
            </div>
            {% if frameweekinfo in save %}
            <button class="starBtn" id="butweeksave{{frameweekinfo.id}}" onclick="onClickSave( {{frameweekinfo.id}},'save' )" name="save" value="{{frameweekinfo.id}}"><i class="fa-solid fa-star"></i></button>
            {% else %}
            <button class="starBtn" id="butweeksave{{frameweekinfo.id}}" onclick="onClickSave( {{frameweekinfo.id}},'notsave' )" name="save" value="{{frameweekinfo.id}}"><i class="fa-regular fa-star"></i></button>
            {% endif %}
          </div>

          <div class="frame__info-box">
            <div class="frame__frametitle">{{ frameweekinfo.frametitle }}</div>
            {% for keyword in frameweekinfo.framekeyword.all %} {% endfor%}
            <div>
              {% if frameweekinfo in like %}
              <button class="recommendBtn" id="butweeklike{{frameweekinfo.id}}" onclick="onClickLike( {{frameweekinfo.id}},'like' )" name="like" value="{{frameweekinfo.id}}"><i class="fa-regular fa-thumbs-up"></i> 추천</button>
              {% else %}
              <button class="recommendBtn" id="butweeklike{{frameweekinfo.id}}" onclick="onClickLike( {{frameweekinfo.id}},'dislike' )" name="like" value="{{frameweekinfo.id}}"><i class="fa-regular fa-thumbs-up"></i> 추천</button>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %} {% endif %} {% endfor %}
      </div>
    </div>

    <hr>

    <div class="frame__grid__section">
      <div class="frame__box grid__box">
        {% for frameinfo in frameinfo %} {% if frameinfo.framepublic %} 
        {% if frameinfo.framephoto %}
        <div class="frame__one-box grid__one-box">
          <div class="img-box">
            <div class="grid__img">
              <a href="{%url 'framesharings:framedetail' frameinfo.id %}">
                <img src="{{ frameinfo.framephoto.url }}" alt="프레임사진"/>
              </a>
            </div>
            {% if frameinfo in save %}
            <button class="starBtn" id="butsave{{frameinfo.id}}" onclick="onClickSave( {{frameinfo.id}},'save' )" name="save" value="{{frameinfo.id}}"><i class="fa-solid fa-star"></i></button>
            {% else %}
            <button class="starBtn" id="butsave{{frameinfo.id}}" onclick="onClickSave( {{frameinfo.id}},'notsave' )" name="save" value="{{frameinfo.id}}"><i class="fa-regular fa-star"></i></button>
            {% endif %}
          </div>
          <div class="frame__info-box">
            <div class="frame__frametitle">{{ frameinfo.frametitle }}</div>
            {% for keyword in frameinfo.framekeyword.all %} {% endfor%}
            <div>
              <div>
                {% if frameinfo in like %}
                <button class="recommendBtn" id="butlike{{frameinfo.id}}" onclick="onClickLike( {{frameinfo.id}},'like' )" name="like" value="{{frameinfo.id}}"><i class="fa-regular fa-thumbs-up"></i> 추천</button>
                {% else %}
                <button class="recommendBtn" id="butlike{{frameinfo.id}}" onclick="onClickLike( {{frameinfo.id}},'dislike' )" name="like" value="{{frameinfo.id}}"><i class="fa-regular fa-thumbs-up"></i> 추천</button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %} {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</main>

<script>
  const requestLike = new XMLHttpRequest();

  const onClickLike = (id,type) => {
    
            const url = "/like_ajax/";
            requestLike.open("POST",url,true);
            requestLike.setRequestHeader(
                "Content-Type",
                "application/x-www-form-unlencoded"
            );
            requestLike.send(JSON.stringify({id: id, type:type}));
        }
  requestLike.onreadystatechange = () => {
        if (requestLike.readyState === XMLHttpRequest.DONE){
            if(requestLike.status < 400){
                const {id, type} = JSON.parse(requestLike.response);
                let element = document.getElementById(`butlike${id}`);
                let weekelement = document.getElementById(`butweeklike${id}`);

                if(type == 'like'){
                  if (weekelement != null) {
                    weekelement.removeEventListener('onclick',onClickLike)
                    weekelement.onclick = function(){onClickLike( id, 'like')};
                    weekelement.innerHTML = `<i class="fa-regular fa-thumbs-up"></i> 추천`
                    weekelement.classList.add("recommendactive");
                  }
                    element.removeEventListener('onclick',onClickLike)
                    element.onclick = function(){onClickLike( id, 'like')};
                    element.innerHTML = `<i class="fa-regular fa-thumbs-up"></i> 추천`
                    element.classList.add("recommendactive");
                }
                else{
                  if (weekelement != null) {
                    weekelement.removeEventListener('onclick',onClickLike)
                    weekelement.onclick = function(){onClickLike( id, 'dislike')};
                    weekelement.innerHTML = `<i class="fa-regular fa-thumbs-up"></i> 추천`
                    weekelement.classList.remove("recommendactive");
                  }
                    element.removeEventListener('onclick',onClickLike)
                    element.onclick = function(){onClickLike( id, 'dislike')}
                    element.innerHTML = `<i class="fa-regular fa-thumbs-up"></i> 추천`
                    element.classList.remove("recommendactive");
                }
                
            }
        }
    }

    const requestSave = new XMLHttpRequest();

  const onClickSave = (id,type) => {
            const url = "/save_ajax/";
            requestSave.open("POST",url,true);
            requestSave.setRequestHeader(
                "Content-Type",
                "application/x-www-form-unlencoded"
            );
            requestSave.send(JSON.stringify({id: id, type:type}));
        }
  requestSave.onreadystatechange = () => {
        if (requestSave.readyState === XMLHttpRequest.DONE){
            if(requestSave.status < 400){
              
                const {id, type} = JSON.parse(requestSave.response);
                let element2 = document.getElementById(`butsave${id}`);
                let weekelement2 = document.getElementById(`butweeksave${id}`);
                
                if(type == 'save') {
                  if (weekelement2 != null) {
                    weekelement2.removeEventListener('onclick',onClickSave)
                    weekelement2.onclick = function(){onClickSave( id, 'save')};
                    weekelement2.innerHTML = `<i class="fa-solid fa-star"></i>`
                  }
                    element2.removeEventListener('onclick',onClickSave)
                    element2.onclick = function(){onClickSave( id, 'save')};
                    element2.innerHTML = `<i class="fa-solid fa-star"></i>`
                }
                else{
                  if (weekelement2 != null) {
                    weekelement2.removeEventListener('onclick',onClickSave)
                    weekelement2.onclick = function(){onClickSave( id, 'notsave')};
                    weekelement2.innerHTML = `<i class="fa-regular fa-star"></i>`
                  }
                    element2.removeEventListener('onclick',onClickSave)
                    element2.onclick = function(){onClickSave( id, 'notsave')}
                    element2.innerHTML = `<i class="fa-regular fa-star"></i>`
                }
                
            }
        }
    }
</script>
{% endblock content %}