{% extends 'users/main.html' %} {% block content %}
<main>
  <form action="/frameupdate/{{frameinfo.id}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="frameupdate-form">
      <div class="frameupdate__title">프레임 공유 글 수정</div>
      <div class="frameupdate__hr"></div>
      <div class="frameupdate__info">
        {%if frameinfo.framephoto %}
        <div class="frameupdate__photo">
          <span id="frameupdate__phototitle">이전사진</span><div class="framebox">{{frameinfo.framephoto.url}} </div>
          <input type="checkbox" name="clearphoto" value="clearphoto" id="clearphoto"><label for="clearphoto">clear</label>
        </div> 
        {% endif %}
        <input type="file" name="framephoto" id="framephoto1">

        <div><span>제목</span> <input type="text" name="frametitle" placeholder="프레임제목" value="{{ frameinfo.frametitle}}"/></div>
        <div>
          <span>키워드</span>
          <input type="file" name="frameexample">
          {%  for keywordinfo in keywordinfo %}
          {% if keywordinfo in frameinfo.framekeyword.all %}
          <input type="checkbox" name="{{forloop.counter}}" value="{{forloop.counter}}" id="keywordid{{forloop.counter}}" checked="checked"><label for="keywordid{{forloop.counter}}">{{keywordinfo.name}}</label>
          {% else %}
          <input type="checkbox" name="{{forloop.counter}}" value="{{forloop.counter}}" id="keywordid{{forloop.counter}}"><label for="keywordid{{forloop.counter}}">{{keywordinfo.name}}</label>
          {% endif %}
          {% endfor %}
        </div>
        <div>
          {%if frameinfo.frameexample %}
          <span>이전 적용 예시</span> {{frameinfo.frameexample.url}} <input type="checkbox" name="clearexample" value="clearexample" id="clearexample"><label for="clearexample">clear</label>
          {% endif %}
        </div>
        <div>
          {% if frameinfo.framepublic %}
          <span>공개범위</span><input type="checkbox" name="framepublic" value="False" id="framepublic"><label for="framepublic">비공개</label>
          {% else %}
          <span>공개범위</span><input checked="checked" type="checkbox" name="framepublic" value="False" id="framepublic"><label for="framepublic">비공개</label>
          {% endif %}
        </div>
        <div>
          <span>메모</span><textarea name="framememo" id="" cols="30" rows="10">{{frameinfo.framememo}}</textarea>
        </div>
        <div class="frameupdate__btn-box">
          <input type="submit" value="글 수정" class="frameupdate__btn"/>
        </div>
      </div>
      <div class="frameupdate__hr"></div>
    </div>
  </form>
</main>
{% endblock content %}