{% extends 'users/main.html' %} {% block content %}
{% load static %}
<main>
	<div class="modal hidden">
		<div class="bg"></div>
		<div class="modalBox">
			<div class="modal-title">
				<h2>정말로 삭제하시겠습니까?</h2>
			</div>
			<div class="modal-btn">
				<button class="closeBtn" id="btn-cancle">취소</button>
				<form action="/albumdelete/{{albuminfo.id}}" method="post">
					{% csrf_token %}<button type="submit">삭제</button>
				</form>
			</div>
		</div>
	</div>

	<div class="albumdetail">
		<div class="albumdetail__header">
			<div class="albumdetail__header-left">
				<a href="{% url 'albums:album' user.id %}" class="back__album">
					<i class="fa-solid fa-angle-left"></i>
				</a>
				<div class="albumdetail__header-title">My 네 컷 앨범</div>
				<a href="{% url 'albums:albumcalendar' user.id %}" class="detail__calendar__btn">
					<img src="{% static 'image/Calendar_icon.svg' %}" alt="캘린더 아이콘">
				</a>
			</div>
			<div class="albumdetail__header-right">
				<a href="/albumupdate/{{albuminfo.id}}" class="album__detail__update">수정</a>
				<div class="btn__border"><button class="openBtn album__detail__delete">삭제</button></div>
			</div>
		</div>
		<div class="album__detail__line"></div>

		<div class="album__detail__content">
			<div class="albumdetail__img-box">
				<img src="{{ albuminfo.albumphoto.url }}" alt="" class="albumdetail__img">
				<!-- <div class="swiper">
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<div class="albumdetail__img">
								<img src="{{ albuminfo.albumphoto.url }}" alt="">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="albumdetail__video">
								{% if albuminfo.albumvideo %}
								<video autoplay loop controls> <source src="{{ albuminfo.albumvideo.url }}"></video>
								{% else %}
								<div>동영상이 없습니다.</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div> -->
				</div>

			<div class="albumdetail__memo-box">
				<div class="albumdetail__date">
					<span>{{ albuminfo.albumdate}}</span>
				</div>
				<div class="albumdetail__type album__per-memo">
					<div class="albumdetail__section__title">
						<img src="{% static 'image/Image.svg' %}" alt="사진아이콘">
						<span>종류</span>
					</div>
					<div class="type__content">{{albuminfo.albumtype.name}}</div>
				</div>
				<div class="albumdetail__position album__per-memo">
					<div class="albumdetail__section__title">
						<img src="{% static 'image/MapPin.svg' %}" alt="위치아이콘">
						<span>위치</span>
					</div>
					<div class="position__content">{{albuminfo.albumlocation}}</div>
				</div>
				<div class="albumdetail__memo">
					<div class="albumdetail__section__title">
						<img src="{% static 'image/PushPin.svg' %}" alt="핀아이콘">
						<span>메모</span>
					</div>
					<div class="memo__content">{{albuminfo.albummemo}}</div>
				</div>
			</div>
		</div>

		</div>
	</div>
</main>
{% endblock content %}
