{% extends 'users/main.html' %} {% block content %} {% load static %}
<main>
  <div class="album__container">
    <div class="album__flex-box">
			<div class="album__left">
				<div class="album__title">My 네 컷 앨범</div>
				<a href="{% url 'albums:albumcalendar' user.id %}" class="calendar__section">
					<button class="calendar__btn">
							<img src="{% static 'image/calendar.svg' %}">
					</button>
				</a>
			</div>
			<div class="album__right">
				<div class="album__sort">
					<form action="{% url 'albums:album' user.id %}" >
						<select name="sort" onchange="this.form.submit()">
							<option selected="selected"  value="none">정렬기준</option>
							<option value="1">인기순</option>
							<option value="2">최신순</option>
						</select>
					</form>
				</div>
				<div class="album__search">
					<form action="{% url 'albums:album' user.id%}">
						<input type="search" name="title" placeholder="메모로 검색" />
						<img src="{% static 'image/glass.svg' %}" class="glass__icon">
					</form>
				</div>
				<a href="/albumcreate"><div class="album__create">글 작성</div></a>
			</div>
		</div>
	<div class="album__grid__section">
			{% for albuminfo in allalbum %}
			<div class="album__one__box">
					<span class="album__photo__date">{{albuminfo.albumdate}}</span>
					<div class="album__photo__section">
							{% if albuminfo.albumphoto %}
							<a href="/albumdetail/{{albuminfo.id}}" class="album__photo__id">
									<img src="{{ albuminfo.albumphoto.url }}" class="album__photo">
							</a>
							{% else %}
							<a href="/albumdetail/{{albuminfo.id}}" class="album__photo__id">
									<span class="photo__none">사진이 존재하지 않습니다.</span>
							</a>
							{% endif %}
					</div>
					<div class="photo__type">
							<span class="photo—text">종류</span>
							<span class="save—type"> {{albuminfo.albumtype.name}}</span>
					</div>
					<div class="photo—location">
							<span class="photo—text">위치</span>
							<span class="save—location">{{albuminfo.albumlocation}}</span>
					</div>
					<div class="photo—memo">
							<span class="photo—text">메모</span>
							<span class="save—memo">{{albuminfo.albummemo}}</span>
					</div>
					{% endfor %}
			</div>
		</div>
	</div>
</main>
{% endblock content %}
