{% extends 'users/main.html' %} {% block content %} {% load static %}
<main>
  <form action="{% url 'users:delete_user' user.username %}" method="post">
    <div class="deleteuser-form">
      <div class="deleteuser__title">회원 탈퇴</div>
      <div class="deleteuser__hr"></div>
      <div class="deleteuser__info">
        {% csrf_token %}
        <div><span>비밀번호</span><input type="password"></div>
        <div><span>비밀번호 확인</span><input type="password"></div>
        <div>본인 인증을 위해 비밀번호를 입력해주세요</div>
      </div>
      <div class="deleteuser__btn-box">
        <button type="submit" class="deleteuser__btn">회원 탈퇴</button> 
      </div>
      <div class="deleteuser__hr"></div>
    </div>
  </form>
</main>
{% endblock content %}