<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  {% load socialaccount %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/variables.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/frame.css' %}" />
    <link rel="stylesheet" href="{% static 'css/album.css' %}" />
    <link rel="stylesheet" href="{% static 'css/limited.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    
    <title>네 컷 Archive</title>
  </head>
  <body>
    <header>
      <div class="main__navbar">
        <div class="main__left">
          <a href="{% url 'users:main' %}" class="main__logo">네 컷 Archive </a>
        </div>
        <div class="main__right">
          <ul>
            {%if user.is_authenticated %}
              <li><a href="{% url 'albums:album' user.id %}">My 네 컷 앨범</a></li>
            {% else %}
              <li><a href="{% url 'users:login' %}">My 네 컷 앨범</a></li>
            {% endif %}
            
            {%if user.is_authenticated %}
            <li><a href="{% url 'framesharings:frame' %}">인생네컷<br/> 프레임 공유</a></li>
            {% else %}
            <li><a href="{% url 'users:login' %}">인생네컷<br/> 프레임 공유</a></li>
            {% endif %}

            <li>
              <a href="{% url 'recommends:recommend_list' %}">포즈/컨셉 추천</a>
            </li>
            <li><a href="{% url 'limitedframes:limited'%}">한정판 프레임</a></li>
            <li>
              {% if user.is_authenticated %}
              <a href="{% url 'users:log_out' %}" class="main__user"
                >로그아웃</a
              > <span> | </span>
              <a href="{% url 'users:mypage' %}" class="main__user"
                >마이페이지</a
              >
              {% else %}
              <a href="{% url 'users:login' %}" class="main__user">로그인</a> <span> | </span>
              <a href="{% url 'users:sign_up' %}" class="main__user"
                >회원가입</a
              >
              {% endif %}
              <li class="main__navbar-btn">
                <img src="{% static 'image/navbar.svg' %}" alt="네브바">
              </li>
            </li>
          </ul>
        </div>
      </div>
      <!-- navbar-btn click 했을 때 -->
      <div class="main__navbar-list hidden">
        <ul>
          {%if user.is_authenticated %}
          <a href="{% url 'albums:album' user.id %}"><li>My 네 컷 앨범</li></a>
          {% else %}
          <a href="{% url 'users:login' %}"><li>My 네 컷 앨범</li></a>
          {% endif %}
          <a href="{% url 'framesharings:frame' %}"><li>인생네컷 프레임 공유</li></a>
          <a href="{% url 'recommends:recommend_list' %}"><li>포즈/컨셉 추천</li></a>
          <a href="{% url 'limitedframes:limited'%}"><li>한정판 프레임</li></a>
          {% if user.is_authenticated %}
          <a href="{% url 'users:log_out' %}" class="main__user"><li>로그아웃</li></a> 
          <a href="{% url 'users:mypage' %}" class="main__user"><li>마이페이지</li></a>
          {% else %}
          <a href="{% url 'users:login' %}" class="main__user"><li>로그인</li></a>
          <a href="{% url 'users:sign_up' %}" class="main__user"><li>회원가입</li></a>
          {% endif %}
        </ul>
      </div>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
      <h6>@ 네 컷 Archive</h6>
      <div>
        <a href="">서비스 소개</a>
        <a href="">커뮤니티</a>
        <a href="">About us</a>
      </div>
      <p>서비스 소개 내용 쓰기</p>
    </footer>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="https://kit.fontawesome.com/a8a24f1fa9.js" crossorigin="anonymous"></script>
  </body>
</html>
