{% extends 'users/main.html' %} {% block content %} {% load static %}
<main class="mypage">
  <div class="mypage__container">
    <h1 class="mypage__title">마이페이지</h1>
    <div class="mypage__flexbox">
      <div class="mypage__left">
        {% if user.profile.image %}
          <p>
            <img
              src="{{ user.profile.image.url }}"
              style="width: 300px; height: 300px"
              alt="프로필사진"
            />
          </p>
        {% else %}
          <p>
            <img
              src="{% static 'image/profile.svg' %}"
              style="width: 300px; height: 300px"
              alt="프로필 기본"
            />
          </p>
        {% endif %}
        <div class="mypage__btn-box">
          <a href="{% url 'users:user_update' %}"><div class="mypage__btn">회원정보 수정</div></a>
          <div class="mypage__btn">회원 탈퇴</div>
        </div>
      </div>
      <div class="mypage__right">
        <div class="mypage__storage-title">저장 목록</div>
        <div class="mypage__hr"></div>
        <div class="mypage__storage-box">
          <div class="mypage__storage"><img src="" alt="" /></div>
          <div class="mypage__storage"><img src="" alt="" /></div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
