{% extends 'users/main.html' %} {% block content %} {% load static %}
<main>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div>
               {{ field.label }} 
               {{ field }}
            </div>
        
            {% if field.errors %}
                <div>
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}

        <button>Reset Password</button>

    </form>
</main>
{% endblock content %}