{% extends 'users/main.html' %} {% block content %} {% load static %}
<main>
  {% csrf_token %}
  <div class="recoveryid-form">
    <div class="recoveryid-content">
      <h1>아이디 찾기</h1>
      <div>
        <span>이름: </span>
        {{ form.name }}
      </div>
      <div>
        <span>아이디: </span>
        {{ form.password }}
      </div>
      <p>등록하신 이름과 메일주소가 일치해야 합니다.</p>
      <div>
        <button id="find_id" name="recovery_id">아이디찾기</button>
      </div>
      <div id="result_id"></div>
    </div>
  </div>
</main>
{% endblock content %} {% block extra %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#find_id").click(function () {
      var name = $("#form_name").val();
      var email = $("#form_email").val();

      $.ajax({
        type: "POST",
        url: "/users/recovery/id/find/",
        dataType: "json",
        data: {
          name: name,
          email: email,
          csrfmiddlewaretoken: "{{csrf_token}}",
        },
        success: function (response) {
          $("#result_id").replaceWith(
            '<div id="result_id"><hr><div><span>입력된 정보로 가입된 아이디는 </span><span id="result_id">' +
              response.result_id +
              "</span><span> 입니다.</span></div><hr></div>"
          );
        },
        error: function () {
          if (name == "" || email == "") {
            alert("이름와 이메일을 입력해주세요.");
          } else {
            alert("입력하신 정보가 일치하지 않거나 존재하지 않습니다.");
          }
        },
      });
    });
  });
</script>
