{% extends 'users/main.html' %} {% block content %}
<main>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="signup-form">
      <h1>회원가입</h1>
      <div>
        <span>아이디</span>
        {{ form.username }}
      </div>
      <div>
        <span>비밀번호</span>
        {{ form.password1 }}
      </div>
      <div><span>비밀번호 확인</span>{{ form.password2 }}</div>
      <div><span>이름</span>{{ form.name }}</div>
      <div><span>이메일</span>{{ form.email }}</div>
      <div><span>닉네임</span>{{ form.nickname }}</div>
      <input type="submit" value="다음" class="submit" />
    </div>
  </form>
</main>
{% endblock content %}
