{% extends 'users/main.html' %}
{% block javascript %}   
<script>     
   $("#id_username").change(function () {       
      var username = $(this).val();        
      $.ajax({        
            url: '/check_username/',         
            data: {           
                'username': username          
            },         
            dataType: 'json',            
            success: function (data) {           
                 if (data.username_exists) {             
                 alert("Username already taken");
                  
                 }         
            }       
      });      
   });   
</script> 
{% endblock %}
{% block content %}
<main>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="signup-form">
      <div class="signup__title">회원가입</div>
      <div class="signup__hr"></div>
      <div class="signup__info">
        <div><span>아이디</span>{{ form.username }}</div>
        <div><span>비밀번호</span>{{ form.password1 }}</div>
        <div><span>비밀번호<br/>확인</span>{{ form.password2 }}</div>
        <div><span>이름</span>{{ form.name }}</div>
        <div><span>이메일</span>{{ form.email }}</div>
        <div><span>닉네임</span>{{ form.nickname }}</div>
      </div>
      <div class="signup__btn-box">
        <input type="submit" value="회원가입" class="signup__btn" />
      </div>
      <div class="signup__hr"></div>
    </div>
  </form>
</main>
{% endblock content %}
