<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
    name="viewport"
    content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"
    />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/variables.css' %}" />
    <link rel="stylesheet" href="{% static 'css/start.css' %}" />
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <title>네컷 Archive</title>
</head>
<body>
    <div class="note--section">
        <div class="img--text--section">
            <img src="{% static 'image/main_note.svg' %}" class="img--main-note">
            <div class="start--text--section">
                <div class="start--text">
                    <div class="head--text"><span>네 컷</span><span>Archive</span></div>
                    <div class="note--line"></div>
                    <span class="content--text">온라인 네 컷 앨범</span>
                </div>
                <a href="{% url 'users:main' %}" class="start-btn--section"><button class="start--btn">시작하기</button></a>
            </div>
        </div>
    </div>
</body>
</html>